<section class="sertificats">
    <ul>
        <li>
            <img src="./images/sertificat.png" alt="">
            <div>
                <a href="">
                    <span>Завантажити *pdf</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <img src="./images/sertificat.png" alt="">
            <div>
                <a href="">
                    <span>Завантажити *pdf</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <img src="./images/sertificat.png" alt="">
            <div>
                <a href="">
                    <span>Завантажити *pdf</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <img src="./images/sertificat.png" alt="">
            <div>
                <a href="">
                    <span>Завантажити *pdf</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <img src="./images/sertificat.png" alt="">
            <div>
                <a href="">
                    <span>Завантажити *pdf</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </li>
        <li>
            <img src="./images/sertificat.png" alt="">
            <div>
                <a href="">
                    <span>Завантажити *pdf</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
        </li>
    </ul>
</section>