.steps{
    background-color: #FFFFFF;

    
    
    & > ul{
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #FFFFFF;
        position: relative;
        z-index: 2;

        @media (min-width: 1100px) {
            padding-top: 160px;
            padding-bottom: 160px;
        }

        & >li{
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(26, 26, 29, 0.3);
            overflow: hidden;

            @media (min-width: 768px) {
                display: grid;
                grid-template-columns: 50px calc(100% - 50px);
                gap: 12px;

                &>p{
                    grid-column-start: 1;
                    grid-column-end: 3;
                }
            }


            @media (min-width: 1100px) {
                display: flex;
                gap: 24px;
                justify-content: center;

                &:hover{
                    & > p{
                        overflow: visible;
                        width: 41.5%;
                        height: 72px;
                    }

                    &>h3 {
                        color: #2A3489;
                    }
                }
            }

            &:not(:first-child){
                margin-top: 16px;
            }

            &>img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 69%;
                height: auto;
                display: none;
                z-index: -1;
            }

            &.shown{
                &>img{
                    display: block;
                }
            }


            &.active{
                & > h3{
                    color: #2A3489;

                    @media (min-width: 768px) {
                        color: #1A1A1D;
                    }
                }
                & > p {
                    margin-top: 16px;

                }
            }

            & > h3{
                font-family: Roboto Condensed;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -1.44px;
                text-transform: uppercase;
                color: #1A1A1D;

                transition-property: color;
                transition-duration: 500ms;
                transition-delay: 0;
                z-index: 1;

                @media (min-width: 768px) {
                        font-family: Roboto Condensed;
                        font-size: 72px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 84.375%;
                        /* 84.375% */
                        letter-spacing: -2.88px;
                        text-transform: uppercase;
                    }

                @media (min-width: 1100px) {
                    font-family: Roboto Condensed;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 81px; /* 84.375% */
                    letter-spacing: -2.88px;
                    text-transform: uppercase;
                }
            }

            & span{
                
                display: none;
                @media (min-width: 768px) {
                    font-family: Manrope;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    color: #1A1A1D;
                    width: fit-content;

                    display: flex;
                    height: 24px;
                    padding: 0px 16px;
                    justify-content: flex-end;
                    align-items: center;
                    border-radius: 200px;
                    border: 1px solid #1A1A1D;
                    z-index: 1;
                }
            }

            & > p{
                font-family: Manrope;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                color: #1A1A1D;
                height: 0;
                overflow: hidden;
                transition-duration: 500ms;
                transition-delay: 0;
                transition-property: margin, height;
                z-index: 1;

                @media (min-width: 768px) {
                    font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                }


                @media (min-width: 1100px) {
                    
                    width: 0;
                    height: 72px;
                    overflow: hidden;
                    font-family: Manrope;
                    
                    margin-top: 0;

                    transition-property: none;
                }
            }
        }
    }
}

.questions--banner {
    

    @media (max-width: 630px) {
        display: block;
        height: 100%;
        width: auto;
        transform: translateX(-12%);
    }

    @media (min-width: 631px) {
        // height: auto;
        // height: 100%;
        width: 100%;
        height: auto;
        transform: none;
        
    }

    @media (min-width: 1100px) {
        display: block;
        width: 100%;
        object-fit: cover;
        height: auto;
        transform: translateY(-40%);
        // margin: auto;

    }
}

.questions--banner-wrap{
    overflow: hidden;
    position: relative;
    margin-top: 140px;
    height: 600px;
    // outline: 1px solid tomato;
    width: 100%;

    &.shown {
        display: block;
    }

    @media (max-width: 1100px) {
        display: none;
        height: 480px;
        margin-top: 80px;
        width: 100%;
    }

    // @media (min-width: 768px) and (max-width: 1099px)  {
    //     width: 102.8%;
    // }
}