<section class="steps" id="steps">

    <ul class="container">
        <li class="active shown">
            <span>01</span>
            <h3>Демонтаж</h3>
            <p>Акуратно демонтуємо склоочисники, двірники, обшивку, деталі, які необхідно зняти з використанням спеціального
            інструменту</p>
            <img src="./images/steps/bg-11.png" alt="">
        </li>
        <li>
            <span>02</span>
            <h3>Нове скло</h3>
            <p>Рама очищається від бруду, знежирюється. Використовуємо тільки якісну хімію виробництва з Німеччини</p>
            <img src="./images/steps/bg-12.png" alt="">
        </li>
        <li>
            <span>03</span>
            <h3>Молдінги</h3>
            <p>МОЛДІНГИ
            Встановлюємо на нове автомобільне скло датчиків дощу, світла, дзеркало заднього виду</p>
            <img src="./images/steps/bg-3.png" alt="">
        </li>
        <li>
            <span>04</span>
            <h3>Проклейка</h3>
            <p>Для роботи ми використовуємо перевірений та якісний клей, якому довіряємо та рекомендуємо усім клієнтам</p>
            <img src="./images/steps/bg-4.png" alt="">
        </li>
        <li>
            <span>05</span>
            <h3>Встановлення</h3>
            <p>За допомогою спеціальних вакуумних ручок, які одягається на автомобільне скло, встановлюємо його на своє місце</p>
            <img src="./images/steps/bg-5.png" alt="">
        </li>
        <li>
            <span>06</span>
            <h3>Перевірка</h3>
            <p>Останній етап роботи полягає в перевірці скла і фінальному прибиранні салону від дрібних деталей, які могли потрапити
            всередину автомобіля</p>
            <img src="./images/steps/bg-6.png" alt="">
        </li>
    </ul>
</section>