<section class="manufacturers">
    <ul>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-01.png" alt="">
                <span>Англия</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-02.png" alt="">
                <span>Польша</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-03.png" alt="">
                <span>ЮАР</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-04.png" alt="">
                <span>США (Испания)</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-05.png" alt="">
                <span>Франция</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-06.png" alt="">
                <span>Китай</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-07.png" alt="">
                <span>Турция</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-08.png" alt="">
                <span>Турция</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="./images/brands/icon-b-09.png" alt="">
                <span>Южная Корея</span>
            </a>
        </li>
    </ul>
</section>