@import '../section-about/section-about';

.clients{
    @extend .about;
    padding-top: 0;
    margin-top: 80px;

    @media (min-width: 768px) {
        margin-top: 140px;
    }
}

.clients--list{
    @extend .about--list;

    @media (max-width: 767px) {
        margin-top: 40px;
    }
}

.clients--list-item{
    @extend .about--list-item;

    & img{
        max-height: 600px;
        object-fit: cover;
    }
}