<section class="clients">
    <ul class="clients--list">
        <li class="clients--list-item">
            <img src="./images/about-5.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Корпоративні послуги для вашого бізнесу</h2>
                    <h3>Партнерство</h3>
                </div>
                <div>
                    <p>Ми надаємо високоякісні послуги з ремонту або заміни автомобільного скла нашим корпоративним клієнтам як за прямими
                    контрактами, так і за направленням страхових компаній. Обслуговуємо любий тип автотранспорту: легковий, вантажний,
                    комерційний, а також спецтехніку.</p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="clients--list-item">
            <img src="./images/about-2.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Корпоративні послуги для вашого бізнесу</h2>
                    <h3>Наш склад</h3>
                </div>
                <div>
                    <p>Наш основний постачальник скла AGC Automotive має один з найбільших локальних складів автомобільного скла в м. Київ.
                    Асортимент представлений 5 000 найменувань скла для більшості представлених в Україні автомобільних брендів і налічує
                    більш ніж 15 000 одиниць товару на складі.
                    </p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="clients--list-item">
            <img src="./images/about-6.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Корпоративні послуги для вашого бізнесу</h2>
                    <h3>Технології</h3>
                </div>
                <div>
                    <p>Ми використовуємо інноваційні технології корпорації Belron®, такі як Glass Medic® для ремонту лобового скла, Belron®
                    Toolbox - професійний набір інструментів для заміни стекол, 1-Tek® - інструмент для заміни вітрового скла силами одного
                    майстра, Ezi-Wire® MK2 - інструмент для зрізання вітрового скла без будь-яких наслідків для лакофарбового покриття
                    автомобіля.</p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="clients--list-item">
            <img src="./images/about-4.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Корпоративні послуги для вашого бізнесу</h2>
                    <h3>Гарантії</h3>
                </div>
                <div>
                    <p>Ми повністю виконуємо всі гарантійні зобов'язання на наданя послуг по ремонту та заміни скла як на території станції
                    Carglass ®, так і за допомогою мобільного сервісу.</p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</section>