<section class="questions" id="faq">
    <div class="container">
        <h2>FREquently
            asked
            questions</h2>
        <button>
            <span>Консультація</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
        <ul>
            <li class="active">
                <span>01</span>
                <h3>Чи можна замовити доставку автоскла
                    до регіонів?</h3>
                <p>Звісно! Купити лобове, бічне або заднє скло можна з доставкою по Києву та Україні</p>
            </li>
            <li>
                <span>02</span>
                <h3>Які знижки на скла?</h3>
                <p>Автоскло виробництва AGC - 10% ЗНИЖКА</p>
            </li>
            <li>
                <span>03</span>
                <h3>Чи є установка з виїздом у Києві?</h3>
                <p>Так, Києвом працює установка з виїздом.</p>
            </li>
            <li>
                <span>04</span>
                <h3>Чому з’являються тріщини на лобовому склі?</h3>
                <p>Отже, сколи на лобовому склі можуть виникнути тепловим або механічним шляхом. До механічних пошкоджень можна
                    віднести
                    такі: Швидка їзда по вибоїнах. Особливо гостро питання стоїть для автомобілів із стійкою підвіскою.
                    Спотворення кузова.
                    Зміна геометрії, викривлення машини після аварії, ударів, поганого ремонту. До теплових пошкоджень можна
                    віднести такі:
                    Постійна спека провокує виникнення вертикальних розколин з дрібних сколів. У люті морози утворюються
                    горизонтальні
                    розщелини. Перепади температурного режиму. Сюди відноситься надмірне охолодження машини у спеку
                    кондиціонером, пролиття
                    гарячих/холодних напоїв на скло.</p>
            </li>
            <li>
                <span>05</span>
                <h3>Для чого необхідний підігрів лобового скла?</h3>
                <p>Натисканням кнопки запускається прогрівання скла на 5 або 40 хвилин. Така функція дозволяє керувати машиною
                    без перебоїв
                    в умовах мінливої ​​погоди. При цьому переживати про генератор або рівень заряджання батареї не потрібно.
                    Система не
                    підключиться, якщо їй бракує ресурсів. Також вона може роз’єднатись, якщо генератор перестане виконувати
                    необхідні
                    функції. Якщо на лобовому склі з’явився лід, то за п’ять хвилин можна прибрати лід завтовшки два міліметри.
                    Система, що
                    гріє, дає можливість вибирати звичайний або екстремальний режим. Перший режим триває 5 хвилин. Спочатку
                    прогрівається
                    зона водія після зона для пасажира. Другий режим діє сорок хвилин. Вітрове скло з обігрівом можна поставити
                    на всі
                    моделі машин. Великий асортимент продукції дозволяє підібрати потрібну модифікацію, не звертаючи уваги на
                    вік авто та
                    його модель. Звичайно ця система зробить життя водія простіше, оскільки не знаєш де погодні умови,
                    наздоженуть
                    несподівано. Найчастіше люди поспішають, а нечітка видимість через запітнілі вікна призводить до неприємних
                    результатів.
                    Саме тому лобове скло з підігрівом – це безпека, а не засіб елітного комфорту.</p>
            </li>
            <li>
                <span>06</span>
                <h3>Де можна купити автомобільне скло?</h3>
                <p>Велику кількість імпортного та вітчизняного автоскла можна зустріти на будь-якому авторинку. Також замовити
                    автоскло для
                    свого автомобіля можна безпосередньо у свого офіційного дилера. І звичайно ж, купити автомобільне скло можна
                    у
                    перевірених продавців, таких як наш сайт – https://www.glasscar.com.ua У продажу можна знайти як оригінальне
                    автоскло,
                    так і їх копії, виготовлені з дотриманням усіх базових параметрів. Рекомендується встановлювати тільки
                    оригінальне
                    автомобільне скло, рекомендоване заводом-виробником, дотримуючись при цьому технології установки.</p>
            </li>
        </ul>
    </div>
</section>