.header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 4;

    &.modified{
        &>.header-info{
            background-color: #1A1A1D;
        }
    }
}


.header-info{
    background-color: #182275;
    width: 100%;
    height: 56px;

    @media (max-width: 1100px) {
        display: none;
    }
    

    &>.container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }

    & svg{
        display: block;
        width: 24px;
        height: 24px;
    }

    & a{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    & span{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }
}

.header-info-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &>div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2px;
    }
}

.header--main{

    &>.container{
        display: flex;
        align-items: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.header--logo{
    & svg{
        display: block;
        width: 199px;
        height: 32px;

        @media (max-width: 767px) {
            width: 140px;
            height: 24px;
        }
    }
}

.header--language-switch {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 4px;
    border-radius: 200px;
    border: 1.4px solid #FFF;
    margin-left: 8px;

    @media (min-width: 768px) {
        
    }

    & a {
        width: 24px;
        height: 24px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;
        color: #FFF;
        opacity: 0.4;

        @media (min-width: 768px) {
            // width: 40px;
            // height: 40px;
        }

        &.active {
            background-color: #FFF;
            color: #2A3489;
            opacity: 1;
        }
    }
}

.header--menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-left: 8px;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    background-color: #FFF;

    @media (min-width: 1100px) {
        display: none;
        // height: 48px;
        // width: fit-content;
        // padding: 0 24px;
        // border-radius: 200px;
        // border: 1.4px solid #FFF;
        // background-color: transparent;
        // margin-right: auto;

        // transition-property: background-color;
        // transition-duration: 500ms;
        // transition-delay: 0;

        // &:hover {
        //     background-color: #FFF;

        //     &>span {
        //         color: #2A3489;
        //     }
        // }
    }

    &>.hidden {
        display: none;
    }

    &>svg {
        display: block;
        width: 20px;
        height: 20px;

        @media (min-width: 1100px) {
            display: none;
        }

        &.cross {
            stroke: black;
        }

    }
}

.header--desctop-linksset {
    display: none;

    @media (min-width: 1100px) {
        display: flex;
        gap: 4px;


        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            border-radius: 200px;
            border: 1.4px solid #FFF;
            height: 40px;
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 16px;
            padding: 0 16px;
            transition-property: color, background-color;
            transition-duration: 500ms;
            transition-delay: 0;

            &.menu-install {
                background-color: #FFF;
                color: #2A3489;

                &:hover {
                    background-color: transparent;
                    color: #FFF;
                }
            }

            &.menu-repair {
                background-color: transparent;
                color: #FFF;

                &:hover {
                    background-color: #FFF;
                    color: #2A3489;
                }
            }
        }
    }
}

.header--menu-button-text {
    display: none;

    @media (min-width: 1100px) {
        display: inline-block;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #FFF;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;
    }
}

.header--call-button{

    display: block;
    width: 32px;
    height: 32px;
    border-radius: 200px;
        background-color: transparent;
        background-color: #FFF;
        border: none;
        margin-left: auto;
        margin-right: 0;

    &>svg{
        display: block;
        width: 20px;
        height: 20px;
        stroke: #182275;
        
    }

    @media (min-width: 1100px) {
        display: none;
    }
}

.header--nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1099px) {
        display: none;
    }


    &>a{
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        color: #FFF;
        opacity: 1;

        transition-property: opacity;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover{
            opacity: 0.5;
        }
    }

    &>button{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        gap: 4px;
        opacity: 1;
        
        transition-property: opacity;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover {
            opacity: 0.5;
        }

        &>span{
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            color: #FFF;
        }

        &>svg{
            display: block;
            width: 16px;
            height: 16px;
            fill: none;
            stroke: #FFF;
        }
    }
}