<header class="header {{class}}">
    <div class="header-info">
        <div class="container">
            <a href="https://maps.app.goo.gl/yMiV6W8HFE1EpZYz7">
                <svg>
                    <use href="./images/icons.svg#location"></use>
                </svg>
                <span>
                    Україна, Київ, вул. Бориспільська 44
                </span>
            </a>
            <div class="header-info-social">
                <div>
                    <a href="">
                        <svg>
                            <use href="./images/icons.svg#telegram"></use>
                        </svg>
                    </a>
                    <a href="">
                        <svg>
                            <use href="./images/icons.svg#phone"></use>
                        </svg>
                    </a>
                </div>
                <a href="">+38 067 536 96 96</a>
            </div>
            <span>
                <svg>
                    <use href="./images/icons.svg#clock"></use>
                </svg>
                Пн-Пт - 9:00-19:00 / Сб - Нд - Вихідні
            </span>
        </div>
    </div>
    <div class="header--main">
        <div class="container">
            <div class="header--logo">
                <a href="/">
                    <svg>
                        <use href="./images/icons.svg#logo"></use>
                    </svg>
                </a>
            </div>
            <div class="header--language-switch">
                <a class="active">ua</a>
                <a>ru</a>
            </div>
            <nav class="header--nav">
                <a href="/">Головна</a>
                <a href="./services.html">Послуги</a>
                <a href="./price.html">Ціни</a>
                <button class="salary">
                    <span>Продаж автоскла</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-down"></use>
                    </svg>
                </button>
                <button class="about-btn">
                    <span>Про нас</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-down"></use>
                    </svg>
                </button>
                <a href="./blog.html">Блог</a>
                <a href="">Контакти</a>
            </nav>
            <button class="header--call-button" data-info="mobile">
                <svg>
                    <use href="./images/icons.svg#phone"></use>
                </svg>
            </button>
            <button class="header--menu-button">
                <span class="header--menu-button-text">Меню</span>
                <span class="header--menu-button-text hidden">Закрити</span>
                <svg class="header--menu-button-icon">
                    <use href="./images/icons.svg#menu"></use>
                </svg>
                <svg class="header--menu-button-icon cross hidden">
                    <use href="./images/icons.svg#cross-2"></use>
                </svg>
            </button>
            <button class="header--back-button hidden">
                <svg>
                    <use href="./images/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <div class="header--desctop-linksset">
                <button class="menu-install" data-install="">Заміна автоскла</button>
                <button class="menu-repair" data-repair="">Ремонт автоскла</button>
            </div>
        </div>
    </div>
</header>
