<header>
    <div>
        <a href="https://maps.app.goo.gl/yMiV6W8HFE1EpZYz7">
            <svg>
                <use href="./images/icons.svg#location"></use>
            </svg>
            <span>
                Україна, Київ, вул. Бориспільська 44
            </span>
        </a>
        <div>
            <a href="">
                <svg>
                    <use href="./images/icons.svg#telegram"></use>
                </svg>
            </a>
            <a href="">
                <svg>
                    <use href="./images/icons.svg#phone"></use>
                </svg>
            </a>
            <a href="">+38 067 536 96 96</a>
        </div>
        <span>
            <svg>
                <use href="./images/icons.svg#clock"></use>
            </svg>
            Пн-Пт - 9:00-19:00 / Сб - Нд - Вихідні
        </span>
    </div>
    <div>
        <div class="header--logo">
            <svg>
                <use href="./images/icons.svg#logo"></use>
            </svg>
        </div>
        <div class="header--language-switch">
            <a class="active">ua</a>
            <a>ru</a>
        </div>
        <input type="text" placeholder="Я шукаю ...">
        <button class="header--call-button">
            <svg>
                <use href="./images/icons.svg#phone"></use>
            </svg>
        </button>
        <button class="header--menu-button">
            <span class="header--menu-button-text">Меню</span>
            <span class="header--menu-button-text hidden">Закрити</span>
            <svg class="header--menu-button-icon">
                <use href="./images/icons.svg#menu"></use>
            </svg>
            <svg class="header--menu-button-icon cross hidden">
                <use href="./images/icons.svg#cross-2"></use>
            </svg>
        </button>
    </div>
</header>
