<header>
    <div>
        <a href="https://maps.app.goo.gl/yMiV6W8HFE1EpZYz7">
            <svg>
                <use href="./images/icons.svg#location"></use>
            </svg>
            <span>
                Україна, Київ, вул. Бориспільська 44
            </span>
        </a>
        <div>
            <a href="">
                <svg>
                    <use href="./images/icons.svg#telegram"></use>
                </svg>
            </a>
            <a href="">
                <svg>
                    <use href="./images/icons.svg#phone"></use>
                </svg>
            </a>
            <a href="">+38 067 536 96 96</a>
        </div>
        <span>
            <svg>
                <use href="./images/icons.svg#clock"></use>
            </svg>
            Пн-Пт - 9:00-19:00 / Сб - Нд - Вихідні
        </span>
    </div>
    <div>
        <div class="header--logo">
            <svg>
                <use href="./images/icons.svg#logo"></use>
            </svg>
        </div>
        <div class="header--language-switch">
            <a class="active">ua</a>
            <a>ru</a>
        </div>
        <input type="text" placeholder="Я шукаю ...">
        <button class="header--call-button">
            <svg>
                <use href="./images/icons.svg#phone"></use>
            </svg>
        </button>
        <button class="header--menu-button">
            <span class="header--menu-button-text">Меню</span>
            <span class="header--menu-button-text hidden">Закрити</span>
            <svg class="header--menu-button-icon">
                <use href="./images/icons.svg#menu"></use>
            </svg>
            <svg class="header--menu-button-icon cross hidden">
                <use href="./images/icons.svg#cross-2"></use>
            </svg>
        </button>
    </div>
</header>
<!-- <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.0729049012825!2d30.70298587698292!3d50.42111328947515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c4c42d160901%3A0x2bfdb849ac4b96a4!2z0YPQuy4g0JHQvtGA0LjRgdC_0L7Qu9GM0YHQutCw0Y8sIDQ0LCDQmtC40LXQsiwg0KPQutGA0LDQuNC90LAsIDAyMDAw!5e0!3m2!1sru!2sde!4v1697360443905!5m2!1sru!2sde"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe> -->