<header class="container">
    <div class="header--logo">
        <svg >
            <use href="./images/icons.svg#logo"></use>
        </svg>
    </div>
    <div class="header--language-switch">
        <a class="active">ua</ф>
        <a>ru</ф>
    </div>
    <button class="header--menu-button">
        <span class="header--menu-button-text">Меню</span>
        <span class="header--menu-button-text hidden">Закрити</span>
        <svg class="header--menu-button-icon">
            <use href="./images/icons.svg#menu"></use>
        </svg>
        <svg class="header--menu-button-icon cross hidden">
            <use href="./images/icons.svg#cross-2"></use>
        </svg>
    </button>
    <div class="header--desctop-linksset">
        <button class="menu-install" data-install="">Встановлення автоскла</button>
        <button class="menu-repair" data-repair="">Ремонт автоскла</button>
    </div>
</header>