<section class="jobs">
    <ul>
        <li>
            <div class="before">
                <img src="./images/job-1.png" alt="">
                <span>До</span>
            </div>
            <div class="after">
                <img src="./images/job-2.png" alt="">
                <span>Після</span>
            </div>
            <span>Mercedes S-class</span>
            <button>
                <span>Проведені роботи</span>
                <span class="hidden">Назад</span>
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
            <p>
                Проведено роботу з заміни лобового скла, встановлення датчику дощу, обігріву скла та камер
            </p>
        </li>
        <li>
            <div class="before">
                <img src="./images/job-1.png" alt="">
                <span>До</span>
            </div>
            <div class="after">
                <img src="./images/job-2.png" alt="">
                <span>Після</span>
            </div>
            <span>Mercedes S-class</span>
            <button>
                <span>Проведені роботи</span>
                <span class="hidden">Назад</span>
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
            <p>
                Проведено роботу з заміни лобового скла, встановлення датчику дощу, обігріву скла та камер
            </p>
        </li>
        <li>
            <div class="before">
                <img src="./images/job-1.png" alt="">
                <span>До</span>
            </div>
            <div class="after">
                <img src="./images/job-2.png" alt="">
                <span>Після</span>
            </div>
            <span>Mercedes S-class</span>
            <button>
                <span>Проведені роботи</span>
                <span class="hidden">Назад</span>
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
            <p>
                Проведено роботу з заміни лобового скла, встановлення датчику дощу, обігріву скла та камер
            </p>
        </li>
    </ul>
    <div class="calculator-pagination">
        <button class="left">
            <svg>
                <use href="./images/icons.svg#arrow-left"></use>
            </svg>
            <span>Назад</span>
        </button>
        <span class="calculator-pagination-pointer">
            <span class="current">01</span>
            /
            <span class="total">05</span>
        </span>
        <button class="right">
            <span>Далі</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</section>