<div class="menu hidden">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="#hero">
                        <span>Головна</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu-calculator">
                    <a href="#calculator">
                        <span>Калькулятор</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#about">
                        <span>Про glasscar</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#why">
                        <span>Чому Ми?</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#segment">
                        <span>Виробники</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#steps">
                        <span>Етапи роботи</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#reviews">
                        <span>Відгуки</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#faq">
                        <span>FAQ</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="#footer">
                        <span>Контакти</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="" class="menu-sertificats">
            <span>Cертифікати відповідності (pdf)</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </a>
        <p>
            Ми зробили цей калькулятор з метою надати вам можливість самостійно розрахувати вартість встановлення або ремонту
            автомобільного скла.
        </p>
        <img src="./images/menu-img.png" alt="" class="menu-image">
        <div class="menu-buttons">
            <button class="menu-install" data-install="">Встановлення автоскла</button>
            <button class="menu-repair" data-repair="">Ремонт автоскла</button>
        </div>
    </div>
</div>