<div class="popup request hidden">
    <div class="popup--title">
        <span>Запит</span>
        <button>
            <svg>
                <use href="./images/icons.svg#cross-2"></use>
            </svg>
        </button>
    </div>
    <form action="">
        <input type="text" placeholder="Марка автомобіля" class="popup-marck">
        <input type="text" placeholder="Рік">
        <input type="text" placeholder="Модель">
        <input type="text" placeholder="Номер телефону">
        <input type="text" placeholder="Імʼя" class="install--name">
        <input type="text" placeholder="Додаткова інформація" class="popup-more-information">
    </form>
    <button class="call">
        <span>Передзвонити</span>
        <svg>
            <use href="./images/icons.svg#arrow-right"></use>
        </svg>
    </button>
    <span class="popup-or">або</span>
    <div class="popup-contacts">
        <button>
            <span>Viber</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
        <button>
            <span>Telegram</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>
