<ul class="horizontal-scroller">
        <li>
            <svg class="rewiews-car-logo">
                <use href="./images/cars.svg#Renault"></use>
            </svg>
           <div class="up">
                <h3>Олександр Петров</h3>
                <p>Високоякісний сервіс і швидка заміна скла. Дуже задоволений результатом!</p>
           </div>
            <div class="down">
                <h4>Проведені роботи:</h4>
                <ul>
                    <li>
                        <span>Заміна лобового автомобільного скла</span>
                    </li>
                    <li>
                        <span>Заміна датчику дощу</span>
                    </li>
                </ul>
                <div>
                    <a href="">Відгук</a>
                    <span>20.05.2023</span>
                </div>
            </div>
        </li>
        <li>
            <svg class="rewiews-car-logo">
                <use href="./images/cars.svg#Toyota"></use>
            </svg>
            <div class="up">
                <h3>Ірина
                    Сидоренко</h3>
                <p>Перевершив мої очікування! Вчасна доставка та професійна робота.</p>
            </div>
            <div class="down">
                <h4>Проведені роботи:</h4>
                <ul>
                    <li>
                        <span>Заміна лобового автомобільного скла</span>
                    </li>
                </ul>
                <div>
                    <a href="">Відгук</a>
                    <span>20.05.2023</span>
                </div>
            </div>
        </li>
        <li>
            <svg class="rewiews-car-logo">
                <use href="./images/cars.svg#Toyota"></use>
            </svg>
            <div class="up">
                <h3>Максим Коваленко</h3>
                <p>Чудова команда фахівців. Ремонт скла здійснено бездоганно.</p>
            </div>
            <div class="down">
                <h4>Проведені роботи:</h4>
                <ul>
                    <li>
                        <span>Ремонт тріщіни лобового автомобільного скла</span>
                    </li>
                </ul>
                <div>
                    <a href="">Відгук</a>
                    <span>20.05.2023</span>
                </div>
            </div>
        </li>
        <li>
            <svg class="rewiews-car-logo">
                <use href="./images/cars.svg#Toyota"></use>
            </svg>
            <div class="up">
                <h3>Юлія Лисенко</h3>
                <p>Великий вибір скла та привітний персонал. Рекомендую!</p>
            </div>
            <div class="down">
                <h4>Проведені роботи:</h4>
                <ul>
                    <li>
                        <span>Заміна панорамного автомобільного скла</span>
                    </li>
                    <li>
                        <span>Заміна датчику дощу</span>
                    </li>
                </ul>
                <div>
                    <a href="">Відгук</a>
                    <span>20.05.2023</span>
                </div>
            </div>
        </li>
        <li>
            <svg class="rewiews-car-logo">
                <use href="./images/cars.svg#Toyota"></use>
            </svg>
            <div class="up">
                <h3>Віталій Черниш</h3>
                <p>Недорого та надійно. Велике спасибі за оперативність.</p>
            </div>
            <div class="down">
                <h4>Проведені роботи:</h4>
                <ul>
                    <li>
                        <span>Виїзд майстра</span>
                    </li>
                    <li>
                        <span>Заміна датчику дощу</span>
                    </li>
                    <li>
                        <span>Ремонт тріщіни лобового автомобільного скла</span>
                    </li>
                </ul>
                <div>
                    <a href="">Відгук</a>
                    <span>20.05.2023</span>
                </div>
            </div>
        </li>
        <li>
            <svg class="rewiews-car-logo">
                <use href="./images/cars.svg#Toyota"></use>
            </svg>
            <div class="up">
                <h3>Анастасія Кравчук</h3>
                <p>Заміна скла проходила швидко і без проблем. Дуже задоволена!</p>
            </div>
            <div class="down">
                <h4>Проведені роботи:</h4>
                <ul>
                    <li>
                        <span>Заміна лобового та переднього бічного лівого автомобільного скла</span>
                    </li>
                </ul>
                <div>
                    <a href="">Відгук</a>
                    <span>20.05.2023</span>
                </div>
            </div>
        </li>
    </ul>