footer{
    background-color: #2A3489;
    padding-bottom: 30px;
    padding-top: 80px;
    margin-top: 40px;
    
    
    & >.container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
        position: relative;

        @media (min-width: 768px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    & h3{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 800;
        line-height: 22px;
        opacity: 0.4;
        color: #FFF;
        margin-bottom: 16px;

        @media (min-width: 768px) {
            font-family: Manrope;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px;
            margin-bottom: 24px;
        }
    }

    & p{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #FFF;

        @media (min-width: 768px) {
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 
        }
    }
}


.footer-nav{

    @media (min-width: 768px) {
        width: 196px;

        
    }

    & > li{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:first-child){
            margin-top: 4px;

            @media (min-width: 768px) {
                margin-top: 8px;
            }
        }

        @media (min-width: 768px) {
            &:hover{
                &> svg{
                    opacity: 1;
                }

                &> a{
                    margin-left: 16px;
                }
            }
        }
    }

    & svg{
        width: 16px;
        height: 16px;
        stroke: #FFF;

        @media (min-width: 768px) {
            opacity: 0;

            transition-property: opacity;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }

    & a{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #FFF;

        @media (min-width: 768px) {
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 

            transition-property: margin-left;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }
}

.suffix{
    width: 32px;
    height: 32px;
    opacity: 0.4;
    fill: #FFF;
}

.footer-not{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.40);

    @media (min-width: 768px) {
        grid-column-end: 5;
        display: flex;
        justify-content: space-between;
        padding-bottom: 80px;
    }

    & >div{
        display: flex;
        justify-content: space-between;

        @media (min-width: 768px) {
            flex-direction: column;
        }

        & > p{
            width: 257px;

            @media (min-width: 768px) {
                max-width: 300px;
                font-weight: 500;
            }
        }
    }

    & > a{
        font-family: Roboto Condensed;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -1.44px;
        text-transform: uppercase;
        color: #FFF;
        margin: auto;
        display: inline-block;
        margin-top: 80px;

        @media (min-width: 768px) {
            font-family: Roboto Condensed;
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 81px; /* 84.375% */
            letter-spacing: -2.88px;
            text-transform: uppercase;
            margin: 0;
        }
    }
}

.footer-nav-wrap{
    grid-column-start: 1;
    grid-column-end: 2;

    @media (min-width: 768px) {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & > h3 {
            width: 196px;
        }
    }
}

.footer-adress-wrap{
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 768px) {
        grid-column-start: 3;
        grid-column-end: 4;

        & p{
            width: 176px;
        }
    }

    & a{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #FFF;
        opacity: 0.4;
        margin-top: 16px;
        
        @media (min-width: 768px) {
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            opacity: 1;
            margin-top: 24px;
        }
    }
    
    & svg {
            width: 16px;
            height: 16px;
            stroke: #FFF;
            margin-left: 6px;

            @media (min-width: 768px) {
                display: none;
            }
        }
}

.footer-socials-wrap{
    & li{
        display: flex;
        align-items: center;
        justify-content: space-between;

        
    
        &:not(:first-child) {
            margin-top: 4px;

            @media (min-width: 768px) {
                margin-top: 8px;
            }
        }

        @media (min-width: 768px) {
            &:hover{
                &> svg{
                    opacity: 1;
                }

                &> a{
                    margin-left: 16px;
                }
            }
        }
    }

    & svg {
            width: 16px;
            height: 16px;
            stroke: #FFF;

            @media (min-width: 768px) {
                opacity: 0;

                transition-property: opacity;
                transition-duration: 500ms;
                transition-delay: 0;
            }
        }
    
    & a {
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #FFF;

        @media (min-width: 768px) {
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; 

            transition-property: margin-left;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }
}

.footer-payment-wrap{

    & svg{
        width: 37px;
        height: 24px;

    }

    & ul{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}

.footer-meta{
    grid-column-start: 1;
    grid-column-end: 3;
    border-top: 1px solid rgba(255, 255, 255, 0.40);

    @media (min-width: 768px) {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        border-top: none;
    }

    & svg{
        width: 100%;
        height: auto;

        @media (min-width: 768px) {
            height: 40px;
            width: 247px;
        }
    }

    & p{
        width: 130px;

        @media (min-width: 768px) {
            width: 144px;
            margin-top: 176px;
        }
    }

    & span{
        display: none;

        @media (min-width: 768px) {
            display: block;
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
            display: block;
            color: #FFF;
            margin-top: 14px;
        }
    }
}

.footer-socials-payment{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;

    @media (min-width: 768px) {
        grid-column-start: 4;
        grid-column-end: 5;
        display: flex;
        flex-direction: column;
    }
}

.footer--to-main{
    display: flex;
    align-items: center;
    gap: 60px;
    position: absolute;
    bottom: 0;
    right: 12px;
    border: none;
    background-color: transparent;

    @media (min-width: 768px) {
        gap: 85px;
        right: 13%;
        
    }

    & > span{
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; 
        color: #FFF;

        @media (min-width: 768px) {
            font-family: Manrope;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px;
        }
    }

    & > svg{
        width: 16px;
        height: 16px;
        stroke: #FFF;
    }
}