<footer id="footer">
    <div class="container">
        <div class="footer-not">
            <div>
                <!-- <svg class="suffix">
                    <path opacity="0.4"
                        d="M11.3258 17.8824L0 14.6606L2.1573 8.0724L13.3034 12.6335L12.6202 0H19.6674L18.9483 12.8869L29.8787 8.43439L32 15.0588L20.4944 18.3167L28.0449 27.9095L22.2921 32L15.7483 21.4661L9.24045 31.6742L3.5236 27.7285L11.3258 17.8824Z"
                        fill="white" />
                </svg> -->
                <p>За додатковою консультацією звертайтесь за номером телефону
                    або в онлайн-чат до оператора</p>
            </div>
            <a href="phone: +380675369696">+38 067 536 96 96</a>
        </div>
        <div class="footer-main">
            <div class="footer-nav-pages">
                <h3>Сторінки</h3>
                <ul class="footer-nav">
                    <li>
                        <a href="#hero">Головна</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#calculator">Послуги</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#about">Ціни</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#why">Блог</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#segment">Контакти</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="footer-nav-services">
                <h3>Послуги</h3>
                <ul class="footer-nav">
                    <li>
                        <a href="#hero">Ремонт автоскла</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#calculator">Заміна автоскла</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#about">Послуги електрика</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="footer-nav-trade">
                <h3>Продаж автоскла</h3>
                <ul class="footer-nav">
                    <li>
                        <a href="#hero">Каталог автоскла</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#calculator">Лобове скло</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#about">Задне скло</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#calculator">Бічне скло</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="#about">Б/У скло</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="footer-nav-graph">
                <h3>Графік роботи:</h3>
                <p>Понеділок - п’ятниця
                    09:00 - 19:00
                </p>
                <p>
                    Субота - Неділя
                    Вихідні
                </p>
            </div>
            <div class="footer-nav-adress">
                <div>
                    <h3>Адреса:</h3>
                    <p>Україна, Київ
                    </p>
                    <p>вул. Бориспільська 44</p>
                </div>
                <a href="">
                    <span>Прокласти маршрут</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </div>
            <div class="footer-socials-wrap">
                <h3>Ми у мережі:</h3>
                <ul>
                    <li>
                        <a href="">Instagram</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="">Facebook</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                    <li>
                        <a href="">Tik-Tok</a>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <div class="footer-payment-wrap">
                <h3>Розрахунок:</h3>
                <ul>
                    <li>
                        <a href="">
                            <svg>
                                <use href="./images/icons.svg#visa"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <svg>
                                <use href="./images/icons.svg#master"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-meta">
            <div>
                <svg>
                    <use href="./images/icons.svg#logo"></use>
                </svg>
                <span>
                    Тільки якісне автомобільне скло
                    із заміною та установкою
                </span>
            </div>
            <p>© 2023 GLASSCAR. All rights reserved.</p>
        </div>
        <button class="footer--to-main">
            <span>На головну</span>
            <svg>
                <use href="./images/icons.svg#arrow-up"></use>
            </svg>
        </button>
    </div>
    
</footer>