@import '../../sass/container';

.base{
    @extend .container;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    & h2{
        font-family: Roboto Condensed;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        /* 100% */
        letter-spacing: -1.44px;
        text-transform: uppercase;
        color: #1A1A1D;
    }

    &:not(:first-child){
        margin-top: 80px;
    }
}

.text-content{
    display: flex;
    flex-direction: column;
    gap: 24px;

    & p {
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #1A1A1D;
        display: block;
    }

    & button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0px 16px;
        gap: 8px;
        width: fit-content;
        background-color: #4958D1;
        border-radius: 200px;
        border: 1.4px solid #4958D1;

        transition-property: background-color;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover {
            background-color: transparent;

            &>svg {
                stroke: #4958D1;
            }

            &>span {
                color: #4958D1;
            }
        }

        &>svg {
            display: block;
            width: 16px;
            height: 16px;
            stroke: #fff;

            transition-property: stroke;
            transition-duration: 500ms;
            transition-delay: 0;
        }

        &>span {
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            color: #fff;
            display: block;

            transition-property: color;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }
}

.block-list{
    display: flex;
    flex-direction: column;
    gap: 40px;

    &>ul{
        display: flex;
        flex-direction: column;
        gap: 4px;

        &>li{
            display: flex;

            &::before{
                content: '';
                display: block;
                width: 12px;
                height: 12px;
                border-radius: 100%;
                background-color: #4958D1;
                margin-top: 6px;
                margin-right: 16px;
            }

            &>p{
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #1A1A1D;
                max-width: 376px;
            }

            &>span{
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
                color: #1A1A1D;
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    &>p{
        font-family: Manrope;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: #1A1A1D;
        display: flex;

        &::before{
            content: '*';
            display: block;
            font-family: Manrope;
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
            color: #4958D1;
            margin-right: 16px;
        }
    }

    &>button{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        padding: 0px 16px;
        gap: 8px;
        width: fit-content;
        background-color: #4958D1;
        border-radius: 200px;
        border: 1.4px solid #4958D1;

        transition-property: background-color;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover{
            background-color: transparent;

            &>svg{
                stroke: #4958D1;
            }

            &>span{
                color: #4958D1;
            }
        }

        &>svg{
            display: block;
            width: 16px;
            height: 16px;
            stroke: #fff;

            transition-property: stroke;
            transition-duration: 500ms;
            transition-delay: 0;
        }

        &>span{
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            color: #fff;
            display: block;

            transition-property: color;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }
}