<section class="base">
    <h2>Про бренд</h2>
    <div class="text-content">
        <p>
            27 років (з 1991 р. заснування) фірма JAAN виробляє автомобільне скло під ТМ NordGlass, Lamex. Сьогодні лобові стекла
            JAAN широко поширені по всій Україні. Продукція концерну займає більше 30% всього ринку стекол вироблених для іноземних
            машин.
        </p>
        <p>
            Для виробництва продукції використовується якісна плівка Du-Pont, сировина Сен-Гобен, Гардіан, Пілкінгтон. При
            середньостатистичних цінах асортимент компанії відрізняється від фірм-конкурентів гарною якістю. Виготовляють скло на
            інноваційному обладнанні, привезеному з Фінляндії, яке відповідає стандартам якості ISO 9002. Щороку мільйони лобових
            стекол JAAN виробляються і поставляються на ринок. У 1996 році було відкрито власне виробництво ламінованого скла
            NordGlass. Сьогодні компанією виробляється повний асортимент стекол "триплекс" (багатошарові). Велика частина випущеної
            продукції експортується в Європу, Африку, Росію, Україну.
        </p>
    </div>
</section>
<section class="base">
    <h2>Чому JAAN?</h2>
    <div class="block-content">
        <p>Весь товар, вироблений JAAN, вирізняється такими характеристиками:</p>
        <ul>
            <li>
                <p>надійність;</p>
            </li>
            <li>
                <p>стійкість до ударів;</p>
            </li>
            <li>
                <p>стійкість до подряпин, механічних пошкоджень;</p>
            </li>
            <li>
                <p>геометрична міцність;</p>
            </li>
            <li>
                <p>100% видимість;</p>
            </li>
            <li>
                <p>абсолютна прозорість у будь-яку погоду.</p>
            </li>
        </ul>
        <p>
            На сьогоднішній день компанія володіє 29 заводами, які мають потужності на території Польщі. Фірма виробляє якісне скло
            для 500 з гаком марок легкових машин.
        </p>
        <p>
            Головні споживачі продукції - водії автобусів, вантажних машин, міні-автобусів, що набагато підвищує популярність марки
            NordGlass. Асортимент компанії має будь-яку модифікацію. Крім стандартних стекол фірмою випускаються стекла з сонячною
            захисною смугою, стекла з підігрівом, стекла з Solar-покриттям.
        </p>
    </div>
</section>
<section class="base">
    <h2>Асортимент</h2>
    <div class="block-content">
        <ul>
            <li>
                <p>скла з датчиком світла;</p>
            </li>
            <li>
                <p>скла з підігрівом;</p>
            </li>
            <li>
                <p>високоякісне скло з «алмазним» покриттям;</p>
            </li>
            <li>
                <p>продукцію з антеною, розташовану між листами скла;</p>
            </li>
            <li>
                <p>вироби, що оснащені смугами, що захищають від сонця;</p>
            </li>
            <li>
                <p>скла з різними ущільнювачами;</p>
            </li>
            <li>
                <p>атермічна продукція;</p>
            </li>
            <li>
                <p>куленепробивне скло.</p>
            </li>
        </ul>
        <p>
            Також в асортименті фірми є спеціальні скла. Їх конструкція забезпечує захист та стійкість від пострілів, серйозних
            ударів. Крім цього, концерн спеціалізується на виробництві скла для морських суден. Ці вироби складаються з спеціальних
            шарів, ущільнених особливою плівкою, оснащених підігрівом і режим регулювання температури.
        </p>
        <p>
            При перевірці якості продукції, оригінальне скло JAAN випробовується на міцність до ударів шляхом сталевого вантажу
            вагою 3 кг.
        </p>
        <p>
            Автомобільне скло проходить тестування на світлопроникність, жароміцність, оптичне викривлення. Всі вироби компанії
            характеризуються підвищеною стійкістю до подряпин та повністю прозорі.
        </p>
    </div>
</section>