<section class="base">
    <h2>ДОСТАВКА</h2>
    <div class="block-list">
        <ul>
            <li>
                <p>По Києву</p>
                <span>Безкоштовно</span>
            </li>
            <li>
                <p>По Україні (Нова пошта)</p>
                <span>За тарифом</span>
            </li>
        </ul>
    </div>
</section>
<section class="base">
    <h2>ОПЛАТА</h2>
    <div class="block-list">
        <ul>
            <li>
                <p>Готівкою</p>
            </li>
            <li>
                <p>Карткою (Mastercard/Visa)</p>
            </li>
            <li>
                <p>Безготівкові платежі</p>
            </li>
        </ul>
    </div>
</section>