<section class="base">
    <h2>ЯК ВИБРАТИ ЛОБОВЕ<br>СКЛО?</h2>
    <div class="block-content">
        <p>У нас Ви можете придбати та встановити лобове скло для будь-якої марки автомобіля. Автомобільні компанії постійно
        оновлюють асортимент лобового скла, застосовуючи нові технології при їх виготовленні. Сьогодні лобове скло забезпечує
        високий рівень безпеки, що дозволяє знизити травматизм у разі настання дорожньо-транспортних пригод.</p>
        <p>Ви завжди можете купити лобове скло, для цього достатньо зателефонувати до нашого менеджера. Ми пропонуємо:</p>
        <ul>
            <li>
                повний перелік послуг “під ключ” від вибору моделі лобового скла до установки;
            </li>
            <li>
                професійну продукцію, що повністю відповідає всім вимогам ДСТУ,
            </li>
            <li>
                якісний ненав’язливий сервіс та обслуговування досвідченими фахівцями;
            </li>
            <li>
                гарантія якості робіт на всі види послуг протягом одного року.
            </li>
        </ul>
    </div>
</section>
<section class="base">
    <h2>З нами –<br>
    вигідно та швидко</h2>
    <div class="block-content">
        <p>Таку послугу, як заміна лобового скла, Київ пропонує у великому асортименті. Наша компанія має ряд переваг, які
        дозволять Вам прийняти правильне рішення.
        </p>
        <ol>
            <li>
                Ми маємо багаторічний досвід роботи у цій галузі, що дозволило зарекомендувати себе на ринку автосервісу.
            </li>
            <li>
                Наша компанія працює лише з надійними постачальниками, які гарантують високу якість продукції.
            </li>
            <li>
                У нашій команді працюють справжні професіонали, які постійно покращують свою кваліфікацію;
            </li>
            <li>
                Наша сервісна станція оснащена всім необхідним сучасним обладнанням, що дозволяє швидко та надійно зробити повний
                комплекс робіт від діагностики до капітального ремонту та заміни необхідних запчастин.
            </li>
            <li>
                Glasscar пропонує довгу багаторічну співпрацю, засновану на довірі та високій якості послуг.
            </li>
        </ol>
        <p>
            Установка лобового скла має ряд особливостей, саме тому необхідно чітко дотримуватися технології монтажу. Від якості
            установки залежить надійність, довговічність та практичність лобового скла. Наші фахівці мають достатній досвід роботи
            та можуть якісно та швидко встановити лобове скло на будь-яку марку автомобіля.<br>
            Лобове скло не тільки захищає салон від попадання атмосферних опадів, а й гарантує комфорт водію та пасажирам. Воно
            забезпечує необхідний огляд дороги, не спотворюючи та дозволяючи легко реагувати на зміни у дорожньому покритті. Крім
            того, захищає водія від влучення дрібних деталей та каміння. Лобове скло має забезпечити максимальну безпеку у разі
            участі автомобіля у дорожньо-транспортних пригодах, даючи можливість водієві уникнути додаткових пошкоджень.
            Ми пропонуємо якісні послуги з підбору та заміни лобового скла «під ключ» будь-якої марки автомобіля вітчизняного та
            зарубіжного виробництва. Зателефонуйте нашому менеджеру вже сьогодні, і ми гарантуємо індивідуальний підхід до кожного
            покупця. У нас діє система знижок для нових та постійних клієнтів.<br>
            Компанія Glasscar зарекомендувала себе як надійний партнер, ми пропонуємо комплексне обслуговування Вашого автомобіля за
            найвигіднішими цінами. Ви завжди можете отримати консультацію кваліфікованих спеціалістів та замовити ремонт автомобіля
            будь-якої складності.
        </p>
    </div>
</section>