<section class="base">
    <h2>{{title}}</h2>
    <div class="block-list">
        <ul>
            <li>
                <p>Лобове, легковий автомобіль</p>
                <span>від 400 грн.</span>
            </li>
            <li>
                <p>Лобове, мінівен, позашляховик</p>
                <span>від 500 грн.</span>
            </li>
            <li>
                <p>Лобове, вантажний автомобіль</p>
                <span>від 600 грн.</span>
            </li>
            <li>
                <p>Бокове опускається (легковий/позашляховик/мінівен/вантажний)</p>
                <span>від 250 грн.</span>
            </li>
            <li>
                <p>Бокове, глухе кузовне</p>
                <span>від 270 грн.</span>
            </li>
            <li>
                <p>Заднє кузовне</p>
                <span>від 450 грн.</span>
            </li>
            <li>
                <p>Демонтаж автоскла із збереженням цілісності</p>
                <span>від 500 грн.</span>
            </li>
        </ul>
        <p>Вартість заміни склопакетів на автобусах, яхтах, теплоходах розраховується індивідуально у кожному випадку.</p>
        <button>
            <span>Замовити</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</section>