<section class="base">
    <h2>Ми пропонуємо</h2>
    <div class="text-content">
        <p>
            Carglass® - надійний партнер з обслуговування Вашого автопарку. Ми гарантуємо індивідуальний підхід до кожного клієнта.
            Укладаючи договір на обслуговування автопарку, врахуємо всі ваші побажання і потреби для довгострокового
            співробітництва. Проводимо ремонт або заміну автомобільного скла як в установчому центрі Carglass®, так і за допомогою
            виїзної мобільної бригади на об'єкті клієнта. Технологія роботи повністю дотримується. Виконуємо всі гарантійні
            зобов'язання.
        </p>
        <button>
            <span>Консультация</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</section>