<section class="base">
    <h2>{{title}}</h2>
    <div class="text-content">
        <p>
            {{first}}
        </p>
        <p>
            {{second}}
        </p>
    </div>
</section>

<!-- {
"title": "Про бренд",
"first": "27 років (з 1991 р. заснування) фірма JAAN виробляє автомобільне скло під ТМ NordGlass, Lamex. Сьогодні лобові
стекла JAAN широко поширені по всій Україні. Продукція концерну займає більше 30% всього ринку стекол вироблених для
іноземних машин.",
"second": "Для виробництва продукції використовується якісна плівка Du-Pont, сировина Сен-Гобен, Гардіан, Пілкінгтон.
При середньостатистичних цінах асортимент компанії відрізняється від фірм-конкурентів гарною якістю. Виготовляють скло
на інноваційному обладнанні, привезеному з Фінляндії, яке відповідає стандартам якості ISO 9002. Щороку мільйони лобових
стекол JAAN виробляються і поставляються на ринок. У 1996 році було відкрито власне виробництво ламінованого скла
NordGlass. Сьогодні компанією виробляється повний асортимент стекол "триплекс" (багатошарові). Велика частина випущеної
продукції експортується в Європу, Африку, Росію, Україну."
} -->