<section class="about" id="about">
    <ul class="about--list">
        <li class="about--list-item">
            <img src="./images/about-1.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Про нас</h2>
                    <h3>Ми на ринку
                        10 років</h3>
                </div>
                <div>
                    <p>Це достатній термін, щоб не тільки заробити
                        хорошу репутацію, а й утримати її. Ми розширили список виробників і партнерів, коло клієнтів, проводимо постійне
                        навчання нашого кваліфікованого персоналу і утримуємо конкурентні ціни. Все для того, щоб нашим клієнтам не могла
                        і думка закрастися змінити станцію обслуговування. А нові клієнти, приходячи за порадою старих
                        або знаходячи нашу компанію самостійно, відразу
                        ж розуміли: ось, це вони, фахівці, яким я довірю свій автомобіль.</p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="about--list-item">
            <img src="./images/about-2.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Про нас</h2>
                    <h3>Багатий
                        асортимент брендів</h3>
                </div>
                <div>
                    <p>У каталозі Ви побачите перелік представлених
                        на сайті та на складі автобрендів. І Вам не раз доведеться прокрутити сторінку каталогу, щоб побачити їх усі! Ми
                        ставимо
                        оригінальне автоскло від економ класу до VIP, а також можемо підібрати добре збережене б/в автоскло за необхідності.
                    </p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="about--list-item">
            <img src="./images/about-3.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Про нас</h2>
                    <h3>Додаткові
                        послуги</h3>
                </div>
                <div>
                    <p>Ми усвідомлюємо, що конкуренція - це не тільки якість продукції та прийнятна ціна, а й якість сервісу. А тому
                        прагнемо
                        розширити перелік послуг. Наприклад, Ви можете замовити полірування лобового скла, а також виїзд майстра за
                        потрібною
                        адресою для заміни автоскла на місці.</p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="about--list-item">
            <img src="./images/about-4.png" alt="">
            <div class="container about--list-item-text-wrap">
                <div>
                    <h2>Про нас</h2>
                    <h3>Професійне консультування</h3>
                </div>
                <div>
                    <p>Яке вибрати скло? Коли можливий ремонт, а коли необхідна заміна? Як доглядати за лобовими, бічними, кузовними і
                        задніми
                        стеклами?Запитуйте! Чесна консультація - гарантія раціональної витрати ваших коштів.</p>
                    <button class="about--consultation-button" data-request="">
                        <span>Консультація</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </li>
    </ul>
</section>