@import '../../sass/container';

.car-info{
    @extend .container;
    padding-top: 140px;

    @media (max-width: 767px) {
        padding-top: 80px;
    }

    &>.search{
        margin-bottom: 80px;
        &>span{
            font-family: Manrope;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px;
            color: #1A1A1D;
            opacity: 0.4;
            margin-bottom: 32px;
        }

        &>div{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;

            @media (max-width: 1000px) {
                display: flex;
                flex-direction: column;
            }
            

            & input{
                width: 100%;
                border: none;
                outline: none;
                padding: 6px 0px;
                border-bottom: 2px solid rgba(26, 26, 29, 0.40);
                font-family: Roboto Condensed;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                /* 100% */
                letter-spacing: -1.44px;
                text-transform: uppercase;
                color: #1A1A1D;

                @media (max-width: 767px) {
                    font-family: Roboto Condensed;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 24px;
                        /* 100% */
                        letter-spacing: -0.72px;
                        text-transform: uppercase;
                }

                &::placeholder{
                    font-family: Roboto Condensed;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 48px;
                    /* 100% */
                    letter-spacing: -1.44px;
                    text-transform: uppercase;
                    color: #1A1A1D;
                    opacity: 0.7;
                    @media (max-width: 767px) {
                            font-family: Roboto Condensed;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 24px;
                            /* 100% */
                            letter-spacing: -0.72px;
                            text-transform: uppercase;
                        }
                }
            }

            &>.calculator--drop-menu-wrap{
                grid-column-start: 1;
                grid-column-end: 2;
            }

            &>input{
                grid-column-start: 2;
                grid-column-end: 3;
            }
        }
    }

    &>.result{

        @media (max-width: 767px) {
            overflow: scroll;
            width: 100%;
        }

        &>h3{
            display: block;
            width: 100%;
            background-color: #4958D1;
            padding: 16px;

            font-family: Roboto Condensed;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px;
            /* 100% */
            letter-spacing: -0.48px;
            text-transform: uppercase;
            color: #FFF;

            @media (max-width: 767px) {
                font-family: Roboto Condensed;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;
                    /* 100% */
                    letter-spacing: -0.42px;
                    text-transform: uppercase;
                    width: 250%;
            
            }
        }

        & ul{
            display: grid;
            grid-template-columns: 2fr 2fr 5fr 1fr 2fr;

            @media (max-width: 767px) {
                width: 250%;
            }

            &:nth-child(2n) {
                background-color: #F6F6F3;

                &>li{
                    border: 1px solid #FFF;

                    @media (max-width: 767px) {
                        border: 0.5px solid #FFF;
                    }
                }
            }

            &.title{
                &>li{
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 24px;
                    color: #1A1A1D;

                    @media (max-width: 767px) {
                            font-family: Manrope;
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 14px;
                        }
                }
            }

            &>li{
                padding: 16px;
                
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #1A1A1D;

                border: 1px solid #F6F6F3;

                @media (max-width:767px) {
                    font-family: Manrope;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        width: 100%;
                        border: 0.5px solid #F6F6F3;
                }

                &:last-child{
                    max-width: 196px;
                }

            }
        }

        &>table{
            border-collapse: collapse;

            @media (max-width: 767px) {
                width: 250%;
            }

            & tr{
                &:nth-child(2n+1){
                    & td{
                        background-color: #F6F6F3;
                        border: 1px solid #FFF;
                    }
                }
                &:nth-child(2n) {
                    & td {
                        border: 1px solid #F6F6F3;
                    }
                }
            }

            & th{
                padding: 16px;

                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px;
                color: #1A1A1D;
                background-color: #F6F6F3;
                border: none;
                border: 1px solid #FFF;
            
                @media (max-width: 767px) {
                    font-family: Manrope;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 14px;

                }
            }

            & td{
                padding: 16px;
                
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: #1A1A1D;
            
                // border: 1px solid #F6F6F3;
            
                @media (max-width:767px) {
                    font-family: Manrope;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    width: 100%;
                    // border: 0.5px solid #F6F6F3;
                }
            }

            & th,
            & td{
                text-align: left;
                &:nth-child(1){
                    width: 17%;
                }
                &:nth-child(2) {
                    width: 17%;
                }
                &:nth-child(3) {
                    width: 42.5%;
                }
                &:nth-child(4) {
                    width: 8.5%;
                }
            }
        }
    }
}