<section class="car-info">
    <div class="search">
        <span>Пошук</span>
        <div>
            <div class="calculator--drop-menu-wrap car">
                <div class="calculator--input-wrap">
                    <input type="text" placeholder="Марка автомобіля" class="car">
                    <svg>
                        <use href="./images/icons.svg#arrow-down"></use>
                    </svg>
                    <span class="results hidden">результатів пошуку</span>
                    <span class="error hidden">Помилка!</span>
                </div>
                <ul class="calculator-drop-menu">
                    <li class="hidden">
                        <span>AC-Cars</span>
                        <svg>
                            <use href="./images/cars.svg#AC-Cars"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Acura</span>
                        <svg>
                            <use href="./images/cars.svg#Acura"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Alfa-Romeo</span>
                        <svg>
                            <use href="./images/cars.svg#Alfa-Romeo"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Alpina</span>
                        <svg>
                            <use href="./images/cars.svg#Alpina"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Asia-Motors</span>
                        <svg>
                            <use href="./images/cars.svg#Asia-Motors"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Aston-Martin</span>
                        <svg>
                            <use href="./images/cars.svg#Aston-Martin"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Audi</span>
                        <svg>
                            <use href="./images/cars.svg#Audi"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Bentley</span>
                        <svg>
                            <use href="./images/cars.svg#Bentley"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>BIOAUTO</span>
                        <svg>
                            <use href="./images/cars.svg#BIOAUTO"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>BMW</span>
                        <svg>
                            <use href="./images/cars.svg#Bmw"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Brilliance</span>
                        <svg>
                            <use href="./images/cars.svg#Brilliance"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Bugatti</span>
                        <svg>
                            <use href="./images/cars.svg#Bugatti"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Buick</span>
                        <svg>
                            <use href="./images/cars.svg#Buick"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>BYD</span>
                        <svg>
                            <use href="./images/cars.svg#BYD"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Cadillac</span>
                        <svg>
                            <use href="./images/cars.svg#Cadillac"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Changfeng</span>
                        <svg>
                            <use href="./images/cars.svg#Changfeng"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Changhe</span>
                        <svg>
                            <use href="./images/cars.svg#Changhe"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Chery</span>
                        <svg>
                            <use href="./images/cars.svg#Chery"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Chevrolet</span>
                        <svg>
                            <use href="./images/cars.svg#Chevrolet"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Chrysler</span>
                        <svg>
                            <use href="./images/cars.svg#Chrysler"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Citroen</span>
                        <svg>
                            <use href="./images/cars.svg#Citroen"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Dacia</span>
                        <svg>
                            <use href="./images/cars.svg#Dacia"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Dadi</span>
                        <svg>
                            <use href="./images/cars.svg#Dadi"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Daewoo</span>
                        <svg>
                            <use href="./images/cars.svg#Daewoo"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Daihatsu</span>
                        <svg>
                            <use href="./images/cars.svg#Daihatsu"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Derways</span>
                        <svg>
                            <use href="./images/cars.svg#Derways"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Dodge</span>
                        <svg>
                            <use href="./images/cars.svg#Dodge"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>FAW</span>
                        <svg>
                            <use href="./images/cars.svg#FAW"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Ferrari</span>
                        <svg>
                            <use href="./images/cars.svg#Ferrari"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>FIAT</span>
                        <svg>
                            <use href="./images/cars.svg#FIAT"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Ford</span>
                        <svg>
                            <use href="./images/cars.svg#Ford"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Great-Wall</span>
                        <svg>
                            <use href="./images/cars.svg#Geat-Wall"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Geely</span>
                        <svg>
                            <use href="./images/cars.svg#Geely"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Hafei-Motor</span>
                        <svg>
                            <use href="./images/cars.svg#Hafei-Motor"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Honda</span>
                        <svg>
                            <use href="./images/cars.svg#Honda"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Hummer</span>
                        <svg>
                            <use href="./images/cars.svg#Hummer"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Hyundai</span>
                        <svg>
                            <use href="./images/cars.svg#Hyundai"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Infiniti</span>
                        <svg>
                            <use href="./images/cars.svg#Infiniti"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Iran-Khodro</span>
                        <svg>
                            <use href="./images/cars.svg#Iran-Khodro"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Isuzu</span>
                        <svg>
                            <use href="./images/cars.svg#Isuzu"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>JAC</span>
                        <svg>
                            <use href="./images/cars.svg#JAC"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Jaguar</span>
                        <svg>
                            <use href="./images/cars.svg#Jaguar"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Jeep</span>
                        <svg>
                            <use href="./images/cars.svg#Jeep"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Kia</span>
                        <svg>
                            <use href="./images/cars.svg#Kia"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Lamborghini</span>
                        <svg>
                            <use href="./images/cars.svg#Lamborghini"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Lancia</span>
                        <svg>
                            <use href="./images/cars.svg#Lancia"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Land-Rover</span>
                        <svg>
                            <use href="./images/cars.svg#Land-Rover"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Lexus</span>
                        <svg>
                            <use href="./images/cars.svg#Lexus"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Lifan</span>
                        <svg>
                            <use href="./images/cars.svg#Lifan"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Maserati</span>
                        <svg>
                            <use href="./images/cars.svg#Maserati"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Maybach</span>
                        <svg>
                            <use href="./images/cars.svg#Maybach"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Mazda</span>
                        <svg>
                            <use href="./images/cars.svg#Mazda"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Mercedes-Benz</span>
                        <svg>
                            <use href="./images/cars.svg#Mercedes-Benz"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>MG</span>
                        <svg>
                            <use href="./images/cars.svg#MG"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>MINI</span>
                        <svg>
                            <use href="./images/cars.svg#MINI"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Mitsubishi</span>
                        <svg>
                            <use href="./images/cars.svg#Mitsubishi"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Nissan</span>
                        <svg>
                            <use href="./images/cars.svg#Nissan"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Opel</span>
                        <svg>
                            <use href="./images/cars.svg#Opel"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Peugeot</span>
                        <svg>
                            <use href="./images/cars.svg#Peugeot"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Porsche</span>
                        <svg>
                            <use href="./images/cars.svg#Porsche"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Renault</span>
                        <svg>
                            <use href="./images/cars.svg#Renault"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Rolls-Royce</span>
                        <svg>
                            <use href="./images/cars.svg#Rolls-Royce"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Saab</span>
                        <svg>
                            <use href="./images/cars.svg#Saab"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>SEAT</span>
                        <svg>
                            <use href="./images/cars.svg#SEAT"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Skoda</span>
                        <svg>
                            <use href="./images/cars.svg#Skoda"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Smart</span>
                        <svg>
                            <use href="./images/cars.svg#Smart"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>SsangYong</span>
                        <svg>
                            <use href="./images/cars.svg#SsangYong"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Subaru</span>
                        <svg>
                            <use href="./images/cars.svg#Subaru"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Suzuki</span>
                        <svg>
                            <use href="./images/cars.svg#Suzuki"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Tata</span>
                        <svg>
                            <use href="./images/cars.svg#Tata"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Toyota</span>
                        <svg>
                            <use href="./images/cars.svg#Toyota"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Volvo</span>
                        <svg>
                            <use href="./images/cars.svg#Volvo"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Volkswagen</span>
                        <svg>
                            <use href="./images/cars.svg#Volwsvagen"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>Богдан</span>
                        <svg>
                            <use href="./images/cars.svg#bogdan"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>ВАЗ</span>
                        <svg>
                            <use href="./images/cars.svg#vaz"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>ГАЗ</span>
                        <svg>
                            <use href="./images/cars.svg#gaz"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>ЗАЗ</span>
                        <svg>
                            <use href="./images/cars.svg#zaz"></use>
                        </svg>
                    </li>
                    <li class="hidden">
                        <span>УАЗ</span>
                        <svg>
                            <use href="./images/cars.svg#uaz"></use>
                        </svg>
                    </li>
                </ul>
            </div>
            <input type="text" placeholder="Складський код">
        </div>
    </div>
    <div class="result">
        <h3>Результат пошуку</h3>
        <ul class="title">
            <li>Модель<br>
            та марка авто</li>
            <li>Складський<br>
            код</li>
            <li>Найменування<br>
            (комплектація)</li>
            <li>Вартість
            У.Е</li>
            <li>Розмір
            (Дов. / Шир.)</li>
        </ul>
        <ul>
            <li>8540ASMSZ</li>
            <li>-</li>
            <li>МЛ, В, Седан, метражный = 8537ASMVZ, 3003ASMHZ, 3014ASMHZ, 5650ASMPBZ, 8306ASMRTZ, 8339ASMSZ, 8541AS</li>
            <li>1.55</li>
            <li>-</li>
        </ul>
        <ul>
            <li>8540AGNBL</li>
            <li>WS1739GB</li>
            <li>В, ЗлГл = IN31AGNBL</li>
            <li>37.25</li>
            <li>1534х800</li>
        </ul>
        <ul>
            <li>8540BGNSAB</li>
            <li>RW0540</li>
            <li>З, Зл, Седан, с антенной для радио, с местом под стоп-сигнал = IN31BGNSAB</li>
            <li>50.99</li>
            <li>1351х798</li>
        </ul>
    </div>
    <div class="result">
        <h3>Audi 100/200 (Седан) (1976-1982)</h3>
        <ul class="title">
            <li>Модель<br>
                та марка авто</li>
            <li>Складський<br>
                код</li>
            <li>Найменування<br>
                (комплектація)</li>
            <li>Вартість
                У.Е</li>
            <li>Розмір
                (Дов. / Шир.)</li>
        </ul>
        <ul>
            <li>8540ASMSZ</li>
            <li>-</li>
            <li>МЛ, В, Седан, метражный = 8537ASMVZ, 3003ASMHZ, 3014ASMHZ, 5650ASMPBZ, 8306ASMRTZ, 8339ASMSZ, 8541AS</li>
            <li>1.55</li>
            <li>-</li>
        </ul>
        <ul>
            <li>8540AGNBL</li>
            <li>WS1739GB</li>
            <li>В, ЗлГл = IN31AGNBL</li>
            <li>37.25</li>
            <li>1534х800</li>
        </ul>
        <ul>
            <li>8540BGNSAB</li>
            <li>RW0540</li>
            <li>З, Зл, Седан, с антенной для радио, с местом под стоп-сигнал = IN31BGNSAB</li>
            <li>50.99</li>
            <li>1351х798</li>
        </ul>
    </div>
    <div class="result">
        <h3>Audi TT (Купе, Кабриолет) (1998-2006)</h3>
        <ul class="title">
            <li>Модель<br>
                та марка авто</li>
            <li>Складський<br>
                код</li>
            <li>Найменування<br>
                (комплектація)</li>
            <li>Вартість
                У.Е</li>
            <li>Розмір
                (Дов. / Шир.)</li>
        </ul>
        <ul>
            <li>8540ASMSZ</li>
            <li>-</li>
            <li>МЛ, В, Седан, метражный = 8537ASMVZ, 3003ASMHZ, 3014ASMHZ, 5650ASMPBZ, 8306ASMRTZ, 8339ASMSZ, 8541AS</li>
            <li>1.55</li>
            <li>-</li>
        </ul>
        <ul>
            <li>8540AGNBL</li>
            <li>WS1739GB</li>
            <li>В, ЗлГл = IN31AGNBL</li>
            <li>37.25</li>
            <li>1534х800</li>
        </ul>
        <ul>
            <li>8540BGNSAB</li>
            <li>RW0540</li>
            <li>З, Зл, Седан, с антенной для радио, с местом под стоп-сигнал = IN31BGNSAB</li>
            <li>50.99</li>
            <li>1351х798</li>
        </ul>
    </div>
</section>