<div class="menu hidden">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <span>Головна</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu-calculator">
                    <a href="./services.html">
                        <span>Послуги</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="./price.html">
                        <span>Ціни</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="sell-glass">
                    <button href="">
                        <span>Продаж автоскла</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </li>
                <li class="about-us">
                    <button href="">
                        <span>Про нас</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </button>
                </li>
                <li>
                    <a href="./blog.html">
                        <span>Блог</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="./contacts.html">
                        <span>Контакти</span>
                        <svg>
                            <use href="./images/icons.svg#arrow-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </nav>
        <p>
            Ми зробили цей калькулятор з метою надати вам можливість самостійно розрахувати вартість встановлення або ремонту
            автомобільного скла.
        </p>
        <img src="./images/menu-img.png" alt="" class="menu-image">
        <div class="menu-buttons">
            <button class="menu-install" data-install="">Встановлення автоскла</button>
            <button class="menu-repair" data-repair="">Ремонт автоскла</button>
        </div>
    </div>
</div>