<div class="menu-catalog">
    <div class="container">
        <svg class="menu-suffix">
            <use href="./images/icons.svg#suffix"></use>
        </svg>
        <div>
            <a href="">
                <span>Каталог автоскла</span>
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </a>
            <h4>Топ 4</h4>
            <ul class="menu-top-four" data-class="premium">
                <li>
                    <span class="segment--manufacturer">Pilkington</span>
                    <span class="segment--country">Англія</span>
                </li>
                <li>
                    <span class="segment--manufacturer">Saint Gobain Securit</span>
                    <span class="segment--country">Франція</span>
                </li>
                <li>
                    <span class="segment--manufacturer">Shatterprufe</span>
                    <span class="segment--country">ПАР</span>
                </li>
                <li>
                    <span class="segment--manufacturer">Guardian</span>
                    <span class="segment--country">США (Іспанія)</span>
                </li>
            </ul>
        </div>
        <ul>
            <li>
                <a href="">
                    <span>Лобове скло</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Задне скло</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Бічне скло</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Б/У скло</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>