<section class="order">
    <img src="./images/Group 45.png" alt="">
    <div>
        <div>
            <span>Ціни на ремонт автоскла</span>
            <h2>
                Замовляй Ремонт сколу
                за фірмовою технологією
            </h2>
        </div>
        <div>
            <form action="">
                <input type="text" placeholder="Імʼя">
                <input type="text" placeholder="Номер телефону">
            </form>
            <button>
                <span>Замовити</span>
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>