<section class="catalog">
    <h2>Автомобільні бренди</h2>
    <ul class="catalog--filter">
        <li>
            <a href="">a</a>
        </li>
        <li>
            <a href="">b</a>
        </li>
        <li>
            <a href="">c</a>
        </li>
        <li>
            <a href="">d</a>
        </li>
        <li>
            <a href="">e</a>
        </li>
        <li>
            <a href="">f</a>
        </li>
        <li>
            <a href="">g</a>
        </li>
        <li>
            <a href="">h</a>
        </li>
        <li>
            <a href="">j</a>
        </li>
        <li>
            <a href="">k</a>
        </li>
        <li>
            <a href="">l</a>
        </li>
        <li>
            <a href="">m</a>
        </li>
        <li>
            <a href="">n</a>
        </li>
        <li>
            <a href="">o</a>
        </li>
        <li>
            <a href="">p</a>
        </li>
        <li>
            <a href="">q</a>
        </li>
        <li>
            <a href="">r</a>
        </li>
        <li>
            <a href="">s</a>
        </li>
        <li>
            <a href="">t</a>
        </li>
        <li>
            <a href="">u</a>
        </li>
        <li>
            <a href="">v</a>
        </li>
        <li>
            <a href="">z</a>
        </li>
        <li>
            <a href="">в</a>
        </li>
        <li>
            <a href="">г</a>
        </li>
    </ul>
    <ul class="catalog-cars">
        <li>
            <span>a</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#AC-Cars"></use>
                            </svg>
                            <span>AC-Cars</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Acura"></use>
                            </svg>
                            <span>Acura</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Alfa-Romeo"></use>
                            </svg>
                            <span>Alfa-Romeo</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Alpina"></use>
                            </svg>
                            <span>Alpina</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Asia-Motors"></use>
                            </svg>
                            <span>Asia-Motors</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Aston-Martin"></use>
                            </svg>
                            <span>Aston-Martin</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Audi"></use>
                            </svg>
                            <span>Audi</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>b</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Bentley"></use>
                            </svg>
                            <span>Bentley</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#BIOAUTO"></use>
                            </svg>
                            <span>BIOAUTO</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Bmw"></use>
                            </svg>
                            <span>Bmw</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Brilliance"></use>
                            </svg>
                            <span>Brilliance</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Bugatti"></use>
                            </svg>
                            <span>Bugatti</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Buick"></use>
                            </svg>
                            <span>Buick</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#BYD"></use>
                            </svg>
                            <span>BYD</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>c</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Cadillac"></use>
                            </svg>
                            <span>Cadillac</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Changfeng"></use>
                            </svg>
                            <span>Changfeng</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Changhe"></use>
                            </svg>
                            <span>Changhe</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Chery"></use>
                            </svg>
                            <span>Chery</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Chevrolet"></use>
                            </svg>
                            <span>Chevrolet</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Chrysler"></use>
                            </svg>
                            <span>Chrysler</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Citroen"></use>
                            </svg>
                            <span>Citroen</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>d</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Dacia"></use>
                            </svg>
                            <span>Dacia</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Dadi"></use>
                            </svg>
                            <span>Dadi</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Daewoo"></use>
                            </svg>
                            <span>Daewoo</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Alpina"></use>
                            </svg>
                            <span>Alpina</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Daihatsu"></use>
                            </svg>
                            <span>Daihatsu</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Derways"></use>
                            </svg>
                            <span>Derways</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Dodge"></use>
                            </svg>
                            <span>Dodge</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>f</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#FAW"></use>
                            </svg>
                            <span>FAW</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Ferrari"></use>
                            </svg>
                            <span>Ferrari</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#FIAT"></use>
                            </svg>
                            <span>FIAT</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Ford"></use>
                            </svg>
                            <span>Ford</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>g</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Geat-Wall"></use>
                            </svg>
                            <span>Geat-Wall</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Geely"></use>
                            </svg>
                            <span>Geely</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Hafei-Motor"></use>
                            </svg>
                            <span>Hafei-Motor</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Honda"></use>
                            </svg>
                            <span>Honda</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Hummer"></use>
                            </svg>
                            <span>Hummer</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Hyundai"></use>
                            </svg>
                            <span>Hyundai</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>i</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Infiniti"></use>
                            </svg>
                            <span>Infiniti</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Iran-Khodro"></use>
                            </svg>
                            <span>Iran-Khodro</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Isuzu"></use>
                            </svg>
                            <span>Isuzu</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>j</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#JAC"></use>
                            </svg>
                            <span>JAC</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Jaguar"></use>
                            </svg>
                            <span>Jaguar</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Jeep"></use>
                            </svg>
                            <span>Jeep</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>k</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Kia"></use>
                            </svg>
                            <span>Kia</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>l</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Lamborghini"></use>
                            </svg>
                            <span>Lamborghini</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Lancia"></use>
                            </svg>
                            <span>Lancia</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Land-Rover"></use>
                            </svg>
                            <span>Land-Rover</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Lexus"></use>
                            </svg>
                            <span>Lexus</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Lifan"></use>
                            </svg>
                            <span>Lifan</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>m</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Maserati"></use>
                            </svg>
                            <span>Maserati</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Maybach"></use>
                            </svg>
                            <span>Maybach</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Mazda"></use>
                            </svg>
                            <span>Mazda</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Mercedes-Benz"></use>
                            </svg>
                            <span>Mercedes-Benz</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#MG"></use>
                            </svg>
                            <span>MG</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#MINI"></use>
                            </svg>
                            <span>MINI</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Mitsubishi"></use>
                            </svg>
                            <span>Mitsubishi</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>n</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Nissan"></use>
                            </svg>
                            <span>Nissan</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>o</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Opel"></use>
                            </svg>
                            <span>Opel</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>p</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Peugeot"></use>
                            </svg>
                            <span>Peugeot</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Porsche"></use>
                            </svg>
                            <span>Porsche</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>r</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Renault"></use>
                            </svg>
                            <span>Renault</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Rolls-Royce"></use>
                            </svg>
                            <span>Rolls-Royce</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>s</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Saab"></use>
                            </svg>
                            <span>Saab</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#SEAT"></use>
                            </svg>
                            <span>SEAT</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Skoda"></use>
                            </svg>
                            <span>Skoda</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Smart"></use>
                            </svg>
                            <span>Smart</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#SsangYong"></use>
                            </svg>
                            <span>SsangYong</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Subaru"></use>
                            </svg>
                            <span>Subaru</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Suzuki"></use>
                            </svg>
                            <span>Suzuki</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>t</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Tata"></use>
                            </svg>
                            <span>Tata</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Toyota"></use>
                            </svg>
                            <span>Toyota</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <span>v</span>
            <ul>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Volvo"></use>
                            </svg>
                            <span>Volvo</span>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div>
                            <svg>
                                <use href="./images/cars.svg#Volwsvagen"></use>
                            </svg>
                            <span>Volwsvagen</span>
                        </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</section>