<div class="blog--list">
    <h2>Блог</h2>
    <div class="filter">
        <button>Новини</button>
        <button>Поради</button>
        <button>Бренди</button>
        <span>10 сторінок</span>
    </div>
    <div class="services--content">
        <ul>
            <li>
                <div>
                    <img src="./images/blog-1.png" alt="">
                </div>
                <h3>ТРІЩИНА НА ЛОБОВОМУ СКЛІ</h3>
                <p>
                    Однією з найпоширеніших «хвороб» автомобілів є тріщини на лобовому склі. З ними часто доводиться
                    зустрічатися багатьом
                    автомобілістам на українських дорогах, де асфальт піднімається та водночас розпливається на очах.
                    Непередбачено зловити
                    камінчик, що летить, об’їжджаючи погані ділянки дороги просто, як ніколи. Погодьтеся, дороги у нас не
                    заслуговують на
                    хвастощі!
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <div>
                    <img src="./images/blog-2.png" alt="">
                </div>
                <h3>ЛОБОВЕ СКЛО З ПІДІГРІВОМ</h3>
                <p>
                    Кожному водієві відома ситуація, коли машина вся у снігу, час підтискає, а лобове скло повністю
                    замерзло. Як завжди,
                    часу не вистачає, треба поспішати на роботу, а чекати все одно доводиться. Прогріваємо машину і чекаємо,
                    поки скло
                    відпустить лід, і можна сідати за кермо. Якщо ви все ще не знаєте, як вирішити це питання, пов’язане із
                    заледенінням,
                    добре заощадити час дозволить лобове скло з підігрівом.
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <div>
                    <img src="./images/blog-3.png" alt="">
                </div>
                <h3>ЯК ШВИДКО ПРОДАТИ СВОЄ АВТО</h3>
                <p>
                    Знаючи кілька хитрощів, ви зможете продати свій автомобіль дорожче, ніж розраховуєте. Причин продажу свого авто може
                    бути безліч: покупка нового транспортного засобу, термінова потреба в грошах або переїзд на нове місце проживання.
                    Однак, у всіх причин є одна головна мета – продати свою машину якнайшвидше і за максимально можливою ціною.
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <div>
                    <img src="./images/blog-4.png" alt="">
                </div>
                <h3>АВТОСКЛО AGC – ЛІДЕР НА СВІТОВОМУ РИНКУ</h3>
                <p>
                    Корпорація AGC Automotive Replacement Glass (AGC ARG) світовий лідер у виробництві скла для автомобільної та будівельної
                    промисловості, та виготовлення дисплеїв. Група AGC також випускає хімікати та інші високотехнологічні матеріали та
                    компоненти.
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <div>
                    <img src="./images/blog-5.png" alt="">
                </div>
                <h3>ТРІЩИНА НА ЛОБОВОМУ СКЛІ</h3>
                <p>
                    Автомобільне скло є складовою частиною будь-якого автомобіля та виконує безліч функцій: забезпечує вільний огляд,
                    підтримує геометрію кузова, захищає людей та цінності, що перебувають у салоні. Від грамотного вибору та правильної
                    установки автоскла залежить не тільки термін безаварійної їзди та комфорт водія, але й безпека та навіть життя людей, що
                    перебувають у салоні.
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <div>
                    <img src="./images/blog-2.png" alt="">
                </div>
                <h3>ЛОБОВЕ СКЛО З ПІДІГРІВОМ</h3>
                <p>
                    Кожному водієві відома ситуація, коли машина вся у снігу, час підтискає, а лобове скло повністю
                    замерзло. Як завжди,
                    часу не вистачає, треба поспішати на роботу, а чекати все одно доводиться. Прогріваємо машину і чекаємо,
                    поки скло
                    відпустить лід, і можна сідати за кермо. Якщо ви все ще не знаєте, як вирішити це питання, пов’язане із
                    заледенінням,
                    добре заощадити час дозволить лобове скло з підігрівом.
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
    <div class="pagination">
        <button class="left">
            <svg>
                <use href="./images/icons.svg#arrow-left"></use>
            </svg>
        </button>
        <div class="pagination-pages">
            <button>1</button>
            <button>2</button>
            <button>3</button>
            <div>...</div>
            <button>999</button>
        </div>
        <button class="right">
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>