<section class="blog">
    <div class="blog--title-wrap">
        <h2>Блог</h2>
        <a href="">
            <span>Більше статей</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </a>
    </div>
    <div class="blog--content">
        <ul>
            <li>
                <div>
                    <img src="./images/blog-1.png" alt="">
                </div>
                <h3>ТРІЩИНА НА ЛОБОВОМУ СКЛІ</h3>
                <p>
                    Однією з найпоширеніших «хвороб» автомобілів є тріщини на лобовому склі. З ними часто доводиться зустрічатися багатьом
                    автомобілістам на українських дорогах, де асфальт піднімається та водночас розпливається на очах. Непередбачено зловити
                    камінчик, що летить, об’їжджаючи погані ділянки дороги просто, як ніколи. Погодьтеся, дороги у нас не заслуговують на
                    хвастощі!
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <div>
                    <img src="./images/blog-2.png" alt="">
                </div>
                <h3>ЛОБОВЕ СКЛО З ПІДІГРІВОМ</h3>
                <p>
                    Кожному водієві відома ситуація, коли машина вся у снігу, час підтискає, а лобове скло повністю замерзло. Як завжди,
                    часу не вистачає, треба поспішати на роботу, а чекати все одно доводиться. Прогріваємо машину і чекаємо, поки скло
                    відпустить лід, і можна сідати за кермо. Якщо ви все ще не знаєте, як вирішити це питання, пов’язане із заледенінням,
                    добре заощадити час дозволить лобове скло з підігрівом.
                </p>
                <a href="">
                    <span>Детальніше</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>