<div class="page-hero">
    <div class="page-hero--image-wrap">
        <div class="bg {{mod}}">
            <img src="{{image}}" alt="">
        </div>
        <div class="blur"></div>
    </div>
    <div class="container">
        <ul class="breadcrumbs">
            <li>
                <a href="">Головна</a>
            </li>
            <li>
                <a href="">{{first}}</a>
            </li>
            <li>
                <a href="">{{second}}</a>
            </li>
            <li>
                <a href="">{{third}}</a>
            </li>
        </ul>
        <h1>{{title}}</h1>
    </div>
</div>