header{
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    position: absolute;
    top: 0;
    z-index: 2;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (min-width: 768px) {
        left: 50%;
        transform: translateX(-50%);
    }

    &.on{
        background-color: black;

        @media (min-width: 768px) {
            background-color: #2A3489;
        }
    }
}

.header--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 32px;
    margin-right: 8px;
    padding: 0px 0.007px 0px 0.749px;

    @media (min-width: 768px) {
        width: 249px;
        height: 40px;
        padding: 0px 0.009px 0px 0.992px;
    }

    & > svg{
        display: block;
        width: 100%;
        height: 100%;
    }
}

.header--language-switch{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 3px;
    border-radius: 200px;
    border: 1.4px solid #FFF;

    @media (min-width: 768px) {
        height: 48px;
    }

    & a{
        width: 32px;
        height: 32px;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: none;
        cursor: pointer;

        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 16px;
        color: #FFF;
        opacity: 0.4;

        @media (min-width: 768px) {
            width: 40px;
            height: 40px;
        }

        &.active{
            background-color: #FFF;
            color: #2A3489;
            opacity: 1;
        }
    }
}

.header--desctop-linksset{
    display: none;

    @media (min-width: 768px) {
        display: flex;
        gap: 4px;
    
    
        & button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            border-radius: 200px;
            border: 1.4px solid #FFF;
            height: 48px;
            font-family: Manrope;
            font-size: 12px;
            font-style: normal;
            font-weight: 800;
            line-height: 16px;
            padding: 0 24px;
            transition-property: color, background-color;
            transition-duration: 500ms;
            transition-delay: 0;
    
            &.menu-install {
                background-color: #FFF;
                color: #2A3489;

                &:hover{
                    background-color: transparent;
                    color: #FFF;
                }
            }
    
            &.menu-repair {
                background-color: transparent;
                color: #FFF;

                &:hover{
                    background-color: #FFF;
                    color: #2A3489;
                }
            }
        }
    }
}

.header--menu-button-text{
    display: none;

    @media (min-width: 768px) {
        display: inline-block;
        font-family: Manrope;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        color: #FFF;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;
    }
}

.header--menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    background-color: #FFF;

    @media (min-width: 768px) {
        height: 48px;
        width: fit-content;
        padding: 0 24px;
        border-radius: 200px;
        border: 1.4px solid #FFF;
        background-color: transparent;
        margin-right: auto;

        transition-property: background-color;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover{
            background-color: #FFF;

            & > span{
                color: #2A3489;
            }
        }
    }

    & > .hidden{
        display: none;
    }

    & > svg{
        display: block;
        width: 24px;
        height: 24px;

        @media (min-width: 768px) {
            display: none;
        }

        &.cross{
            stroke: black;
        }

    }
}