.steps{
    background-color: #FFFFFF;

    & > img{
        display: none;

        @media (min-width: 768px) {
            display: block;
            width: 100%;
            height: auto;
            margin: auto;
        }
    }
    
    & > ul{
        padding-top: 80px;
        padding-bottom: 80px;
        background-color: #FFFFFF;
        position: relative;
        z-index: 2;

        @media (min-width: 768px) {
            padding-top: 160px;
            padding-bottom: 160px;
        }

        & >li{
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(26, 26, 29, 0.3);
            overflow: hidden;

            @media (min-width: 768px) {
                display: flex;
                gap: 24px;
                justify-content: center;

                &:hover{
                    & > p{
                        overflow: visible;
                        width: 41.5%;
                        height: 72px;
                    }

                    &>h3 {
                        color: #2A3489;
                    }
                }
            }

            &:not(:first-child){
                margin-top: 16px;
            }

            &>img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 69%;
                height: auto;
                display: none;
                z-index: -1;
            }

            &.shown{
                &>img{
                    display: block;
                }
            }


            &.active{
                & > h3{
                    color: #2A3489;

                    @media (min-width: 768px) {
                        color: #1A1A1D;
                    }
                }
                & > p {
                    margin-top: 16px;

                }
            }

            & > h3{
                font-family: Roboto Condensed;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px;
                letter-spacing: -1.44px;
                text-transform: uppercase;
                color: #1A1A1D;

                transition-property: color;
                transition-duration: 500ms;
                transition-delay: 0;
                z-index: 1;

                @media (min-width: 768px) {
                    font-family: Roboto Condensed;
                    font-size: 96px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 81px; /* 84.375% */
                    letter-spacing: -2.88px;
                    text-transform: uppercase;
                }
            }

            & span{
                
                display: none;
                @media (min-width: 768px) {
                    font-family: Manrope;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 16px;
                    color: #1A1A1D;
                    width: fit-content;

                    display: flex;
                    height: 24px;
                    padding: 0px 16px;
                    justify-content: flex-end;
                    align-items: center;
                    border-radius: 200px;
                    border: 1px solid #1A1A1D;
                    z-index: 1;
                }
            }

            & > p{
                font-family: Manrope;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                color: #1A1A1D;
                height: 0;
                overflow: hidden;
                transition-duration: 500ms;
                transition-delay: 0;
                transition-property: margin, height;
                z-index: 1;


                @media (min-width: 768px) {
                    
                    width: 0;
                    height: 72px;
                    overflow: hidden;
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 0;

                    transition-property: width;
                    transition-duration: 500ms;
                    transition-delay: 0;
                }
            }
        }
    }
}