<div class="popup info-mobile hidden" data-popup="info-mobile">
    <div class="popup--title">
        <span>Інформація</span>
        <button>
            <svg>
                <use href="./images/icons.svg#cross-2"></use>
            </svg>
        </button>
    </div>
    <div class="popup--info-mobile">
        <a href="">
            <svg>
                <use href="./images/icons.svg#location"></use>
            </svg>
            <p>Україна, Київ,<br>
            вул. Бориспільська 44</p>
        </a>
        <div>
            <svg>
                <use href="./images/icons.svg#clock"></use>
            </svg>
            <p>Пн-Пт - 9:00-19:00<br>
            Сб - Нд - Вихідні</p>
        </div>
        <a href="">
            <svg>
                <use href="./images/icons.svg#telegram"></use>
            </svg>
            <p>Написати у телеграм</p>
        </a>
        <a href="">
            <svg>
                <use href="./images/icons.svg#phone"></use>
            </svg>
            <p>+38 067 536 96 96</p>
        </a>
    </div>
</div>