<div class="popup info " data-popup="info">
    <div class="popup--title">
        <span>Технічні характеристики:</span>
        <button>
            <svg>
                <use href="./images/icons.svg#cross-2"></use>
            </svg>
        </button>
    </div>
    <ul class="popup-info-list">
        <li>
            <h4>Колір:</h4>
            <span>Зелений</span>
        </li>
        <li>
            <h4>Початок/кінець випуску:</h4>
            <span>2020 - 2023</span>
        </li>
        <li>
            <h4>Гарантія:</h4>
            <span>спотворення – безстрокова, розшарування – 3 роки</span>
        </li>
        <li>
            <h4>Колір лінії:</h4>
            <span>Немає ліній</span>
        </li>
        <li>
            <h4>Антивідблиск напилення:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Інкапсуляція:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Антена</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Обігрів:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Датчик світла та дощу:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Вікно під VIN код:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Шумоізоляція:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Тепловідбивне:</h4>
            <span>Ні</span>
        </li>
        <li>
            <h4>Теплопоглинаюче:</h4>
            <span>Ні</span>
        </li>
    </ul>
</div>