<div class="backdrop hidden">
</div>
<div class="backdrop-blue hidden">
</div>
<div class="popup install hidden">
    <div class="popup--title">
        <span>Встановлення автоскла</span>
        <button>
            <svg>
                <use href="./images/icons.svg#cross-2"></use>
            </svg>
        </button>
    </div>
    <div>
        <form action="">
            <input type="text" placeholder="Марка автомобіля">
            <input type="text" placeholder="Модель">
            <div class="input-wrap">
                <input type="text" placeholder="Рік">
                <input type="text" placeholder="Тип скла">
            </div>
            <input type="text" placeholder="Номер телефону">
            <input type="text" placeholder="Імʼя" class="install--name">
            <input type="text" placeholder="Додаткова інформація" class="popup-more-information">
        </form>
        <button class="more-options">
            <span>Додаткові Послуги</span>
            <span class="hidden">Сховати Послуги</span>
            <svg>
                <use href="./images/icons.svg#arrow-down"></use>
            </svg>
            <svg class="hidden">
                <use href="./images/icons.svg#arrow-up"></use>
            </svg>
        </button>
        <ul class="popup-otions-list hidden horizontal-scroller">
            <li>
                <div class="option">
                    <div class="option-title-wrap">
                        <button class="option-button">
                            <svg>
                                <use href="./images/icons.svg#cross-1"></use>
                            </svg>
                            <svg class="hidden">
                                <use href="./images/icons.svg#cross-2"></use>
                            </svg>
                        </button>
                        <h3>Ремонт
                            тріщін</h3>
                    </div>
                    <div class="option-details-wrap">
                        <div class="option-details">
                            <p>Час встановлення:</p>
                            <svg>
                                <use href="./images/icons.svg#pay-1"></use>
                            </svg>
                            <span>1,5-2 години</span>
                        </div>
                        <div class="option-details">
                            <p>Вартість:</p>
                            <svg>
                                <use href="./images/icons.svg#truck-3"></use>
                            </svg>
                            <span>800 ₴</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="option">
                    <div class="option-title-wrap">
                        <button class="option-button">
                            <svg>
                                <use href="./images/icons.svg#cross-1"></use>
                            </svg>
                            <svg class="hidden">
                                <use href="./images/icons.svg#cross-2"></use>
                            </svg>
                        </button>
                        <h3>Ремонт
                            тріщін</h3>
                    </div>
                    <div class="option-details-wrap">
                        <div class="option-details">
                            <p>Час встановлення:</p>
                            <svg>
                                <use href="./images/icons.svg#pay-1"></use>
                            </svg>
                            <span>1,5-2 години</span>
                        </div>
                        <div class="option-details">
                            <p>Вартість:</p>
                            <svg>
                                <use href="./images/icons.svg#truck-3"></use>
                            </svg>
                            <span>800 ₴</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="option">
                    <div class="option-title-wrap">
                        <button class="option-button">
                            <svg>
                                <use href="./images/icons.svg#cross-1"></use>
                            </svg>
                            <svg class="hidden">
                                <use href="./images/icons.svg#cross-2"></use>
                            </svg>
                        </button>
                        <h3>Ремонт
                            тріщін</h3>
                    </div>
                    <div class="option-details-wrap">
                        <div class="option-details">
                            <p>Час встановлення:</p>
                            <svg>
                                <use href="./images/icons.svg#pay-1"></use>
                            </svg>
                            <span>1,5-2 години</span>
                        </div>
                        <div class="option-details">
                            <p>Вартість:</p>
                            <svg>
                                <use href="./images/icons.svg#truck-3"></use>
                            </svg>
                            <span>800 ₴</span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="option">
                    <div class="option-title-wrap">
                        <button class="option-button">
                            <svg>
                                <use href="./images/icons.svg#cross-1"></use>
                            </svg>
                            <svg class="hidden">
                                <use href="./images/icons.svg#cross-2"></use>
                            </svg>
                        </button>
                        <h3>Ремонт
                            тріщін</h3>
                    </div>
                    <div class="option-details-wrap">
                        <div class="option-details">
                            <p>Час встановлення:</p>
                            <svg>
                                <use href="./images/icons.svg#pay-1"></use>
                            </svg>
                            <span>1,5-2 години</span>
                        </div>
                        <div class="option-details">
                            <p>Вартість:</p>
                            <svg>
                                <use href="./images/icons.svg#truck-3"></use>
                            </svg>
                            <span>800 ₴</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <button class="call">
            <span>Передзвонити</span>
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>