<div class="menu-about">
    <div class="container">
        <svg class="menu-suffix">
            <use href="./images/icons.svg#suffix"></use>
        </svg>
        <div>
            <a href="./clients.html">
                <span>Корп. клієнтам</span>
                <svg>
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </a>
            <p>
                Ми надаємо високоякісні послуги з ремонту
                або заміни автомобільного скла нашим корпоративним клієнтам як за прямими контрактами, так і за направленням страхових
                компаній. Обслуговуємо любий тип автотранспорту: легковий, вантажний, комерційний, а також спецтехніку.
            </p>
        </div>
        <ul>
            <li>
                <a href="./about-us.html">
                    <span>Про компанію</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="./sertificats.html">
                    <span>Сертифікати</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="./manufacturers.html">
                    <span>Виробники</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="">
                    <span>Вакансії</span>
                    <svg>
                        <use href="./images/icons.svg#arrow-right"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>