.reviews{
    padding-top: 80px;
    // padding-bottom: 80px;
    background-color: #F6F6F3;

    @media (min-width: 768px) {
        padding-top: 160px;
        // padding-bottom: 160px;
    }

    &>img {
        display: block;
        width: 100%;
        height: 640px;
        object-fit: cover;

        @media (min-width: 768px) {
            height: auto;
            margin: auto;
            margin-top: 140px;
        }
    }

    & > ul{
        display: flex;
        overflow: scroll;

        &::-webkit-scrollbar{
            display: none;
        }

        @media (min-width: 768px) {
            width: 100%;
            max-width: 1440px;
            margin: auto;
        }

        & > li{
            width: 256px;
            height: 400px;
            background-color: #FFF;
            flex-shrink: 0;
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;

            @media (min-width: 768px) {
                width: 400px;
                height: 480px;
                padding: 40px;
            }

            &:not(:first-child){
                margin-left: 24px;

                @media (min-width: 768px) {
                    margin-left: 40px;
                }
            }

            &:first-child{
                margin-left: 12px;

                @media (min-width: 768px) {
                    margin-left: 72px;
                }
            }

            &:last-child{
                margin-right: 12px;

                @media (min-width: 768px) {
                    margin-right: 72px;
                }
            }



            & h3{
                font-family: Roboto Condensed;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.72px;
                text-transform: uppercase;
                color: #2A3489;
                height: 48px;
                align-self: stretch;

                @media (min-width: 768px) {
                    font-family: Roboto Condensed;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 40px; /* 100% */
                    letter-spacing: -1.2px;
                    text-transform: uppercase;
                    height: 80px;
                }
            }

            & p{
                font-family: Manrope;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                margin-top: 24px;

                overflow: hidden;
                color: #1A1A1D;
                text-overflow: ellipsis;
                whitespace: nowrap;

                @media (min-width: 768px) {
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    margin-top: 40px;
                }
            }

            & h4{
                font-family: Manrope;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 16px;
                color: #1A1A1D;
                opacity: 0.4;

                @media (min-width: 768px) {
                    font-family: Manrope;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 22px;
                }
            }

            & > .down{
                z-index: 1;
                & > ul {
                    margin-top: 14px;
            
                    &>li {
                        display: flex;
                        align-items: flex-start;
            
            
                        &::before {
                            content: '';
                            display: inline-block;
                            width: 4px;
                            height: 4px;
                            border-radius: 100%;
                            background-color: #2A3489;
            
                            margin-top: 5px;
                            margin-right: 4px;
                            flex-shrink: 0;

                            @media (min-width: 768px) {
                                width: 9px;
                                height: 9px;
                                margin-top: 8px;
                                margin-right: 10px;
                            }
                        }
            
                        &:not(:first-child) {
                            margin-top: 4px;
                        }
            
                        &>span {
                            font-family: Manrope;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                            color: #1A1A1D;

                            @media (min-width: 768px) {
                                font-family: Manrope;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                            }
                        }
                    }
                }

                & > div{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 24px;
                    padding-top: 16px;
                    border-top: 1px solid #1A1A1D;
                    opacity: 0.4;

                    & > a{
                        font-family: Manrope;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        color: #1A1A1D;
                        text-align: center;
                        height: 17px;
                        padding: 0px 16px;
                        border-radius: 200px;
                        border: 1px solid #1A1A1D;
                    }

                    & > span{
                        font-family: Manrope;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        color: #1A1A1D;
                    }
                }
            }
            &>.up{
                z-index: 1;
            }

        }
    }
}

.rewiews-car-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 140px;
    position: absolute;
    fill: #F6F6F3;
    stroke: transparent;
    background-color: transparent;
    top: 0;
    right: 0;
    transform: translate(5%, -5%);
    z-index: 0;

    @media (min-width: 768px) {
        width: 240px;
        height: 240px;
        transform: translate(5%, -10%);
    }

    &>svg{
        display: block;
        width: 100%;
        height: 100%;
    }
}