<section class="hero" id="hero">
    <div class="container">
            <span class="hero--slider-pointer">
                <span class="hero--slider-pointer-current">01</span>
                /
                <span class="hero--slider-pointer-total">03</span>
            </span>
            <ul class="hero--banner-text-list">
                <li class="hero--banner-list-item ">
                    <h2>Автомобільне скло та сервіс</h2>
                    <ul>
                        <li>При купівлі та встановленні скла AGC — знижка 10%</li>
                        <li>Гарантія на роботу (клейовий шов) — безстрокова</li>
                    </ul>
                </li>
                <li class="hero--banner-list-item hidden">
                    <h2>розвал сходження</h2>
                    <p>Стенд «розвал-сходження» відноситься до числа одного з найпоширеніших видів гаражного обладнання на автомобільних
                    сервісних станціях. Важливість правильного регулювання коліс важко переоцінити. Від правильно проведеної регулювання
                    «розвал-сходження» залежить не тільки довговічність автомобільних шин, яка, в свою чергу, впливає на безпеку автомобіля
                    під час руху, але також справність і надійність підвіски і рульової системи автомобіля.</p>
                </li>
                <li class="hero--banner-list-item hidden">
                    <h2>Ремонт автоскла</h2>
                    <p>Повне відновлення структурної міцності скла гарантує безпеку керування транспортним засобом.</p>
                </li>
            </ul>
            <div class="hero--banner-buttons-wrap">
                <button class="hero--banner-button-choose" data-request="">
                    <span class="mobile">Обрати</span>
                    <span class="desctop">Замовити</span>
                    <svg>
                        <use
                            href="./images/icons.svg#arrow-right">
                        </use>
                    </svg>
                </button>
                <div class="hero--banner-controls">
                    <button class="hero--banner-control-button left">
                        <svg>
                            <use
                                href="./images/icons.svg#arrow-left">
                            </use>
                        </svg>
                    </button>
                    <button class="hero--banner-control-button right">
                        <svg>
                            <use
                                href="./images/icons.svg#arrow-right">
                            </use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    <ul class="hero--banner-images-list">
        <li>
            <img src="./images/img-bg-1.png" alt="" class="hero--image">
        </li>
        <li>
            <img src="./images/img-bg-4.png" alt="" class="hero--image">
        </li>
        <li>
            <img src="./images/img-bg-3.png" alt="" class="hero--image">
        </li>
    </ul>

</section>